<div class='AdminHomeBox'>
<img src='images/icons/system.png' alt=''>&nbsp;<span class='bold'>System</span>

<table width='100%'>
	<tr>
		<td width='30%'>Base Directory</td>
		<td>{BASE_DIR}</td>
	</tr>
	<tr>
		<td width='30%'>System Space</td>
		<td>{SYSTEM_SPACE}</td>
	</tr>
	<tr>
		<td>Used Space (by Users)</td>
		<td>{USER_USED_SPACE}</td>
	</tr>
	
	<!-- FOREACH BEGIN ({ADDITIONAL_QUOTA_ARRAY}) -->
	
		<tr>
			<td>{ADDITIONAL_QUOTA_ARRAY:TITLE}</td>
			<td>{ADDITIONAL_QUOTA_ARRAY:VALUE}</td>
		</tr>
	
	<!-- FOREACH END -->
	
	<tr>
		<td>Used Space (by Database)</td>
		<td>{DB_USED_SPACE}</td>
	</tr>
	<tr>
		<td>Free Space</td>
		<td>{FREE_SPACE}</td>
	</tr>
</table>
	

</div>