<br />

<!-- CONTAINER BEGIN ("Add Sample to Sample",0) -->

<br />
<br />
<form action='index.php?{PARAMS}' method='post'>
	<div class='sample_container'>
		<div class='sample_image'>
		<img src='images/icons_large/wizard_64.png' alt='' />
		</div>
		<div class='sample_text'>
			<table width='100%'>
				<tr>
					<td></td>
					<td><span class='bold'>I want to:</span></td>
				</tr>
				<tr>
					<td><input type='radio' class='FormRadio' name='selection' value='1' checked="checked" /></td>
					<td>add a new sample</td>
				</tr>
				<tr>
					<td><input type='radio' class='FormRadio' name='selection' value='2' /></td>
					<td>associate an existing sample</td>
				</tr>
			</table>
		</div>
		<div class='sample_under'>
			<br />
			<br />
			<br /><input type='submit' value='next' class='FormButton' /></div>
		</div>
		<input type='hidden' value='{DESCRIPTION}' name='description' />
		<input type='hidden' value='{KEYWORDS}' name='keywords' />
</form>
<br />
<br />

<!-- CONTAINER END (0) -->