<br />

<!-- CONTAINER BEGIN ("Structure",0) -->

<div class='SampleStructureArea'>

<div class='SampleStructureTitle'>Parents</div>

<!-- FOREACH BEGIN ({PARENT}) -->
	
	<div class='SampleStructureElement'>
	
		<div><a href='index.php?{PARENT:PARAMS}'>{PARENT:ID}</a></div>
		<div><a href='index.php?{PARENT:PARAMS}'>{PARENT:NAME}</a></div>
		<div>{PARENT:DATETIME}</div>
		<div>{PARENT:OWNER}</div>
	
	</div>

<!-- FOREACH END -->

</div>


<div class='SampleStructureArea'>

<div class='SampleStructureTitle'>Childs</div>

<!-- FOREACH BEGIN ({CHILD}) -->
	
	<div class='SampleStructureElement'>
	
		<div><a href='index.php?{CHILD:PARAMS}'>{CHILD:ID}</a></div>
		<div><a href='index.php?{CHILD:PARAMS}'>{CHILD:NAME}</a></div>
		<div>{CHILD:DATETIME}</div>
		<div>{CHILD:OWNER}</div>
	
	</div>

<!-- FOREACH END -->


</div>

<!-- CONTAINER END (0) -->	