
<script>
$(document).ready(function()
{
	function check_form()
	{
		return true;
	}
	$("#AssistantPrevious").click(function()
	{
		if (check_form() == true)
		{
			assistant.load_previous_page();
		}
	});
	$("#AssistantNext").click(function()
	{
		if (check_form() == true)
		{
			assistant.load_next_page();
		}
	});
});
</script>

<br />
	<div class='Form' style='width: 75%; margin: 0 auto;'>
	<div class='FormBox'>
	[[CONTENT]]
	<div class='FormBoxClear'></div>
	</div>
	</div>
	<table class='formTable'>
	<tr>
		<td>
			<br />
			<div class='button_left'><button id='AssistantPrevious' class='Button'>previous</button></div>
			<div class='button_right'><button id='AssistantNext' class='Button'>next</button></div>
		</td>
	</tr>
</table>
<input type='hidden' name='sample_template_data_type' value='value' class='SampleCreateAssistantField' />
<input type='hidden' name='sample_template_data_type_id' value='[[TEMPLATE_DATA_TYPE_ID]]' class='SampleCreateAssistantField' />