
<script type="text/javascript">
/*<![CDATA[*/
$(document).ready(function()
{
	$( "#AssistantError" ).dialog(
	{
		autoOpen: false,
		buttons: 
		{
			"OK": function()
			{
                  $( this ).dialog( "close" );
			}
		}
	});
	$("#AssistantPrevious").click(function()
	{
		assistant.load_previous_page();
	});
	$("#AssistantNext").click(function()
	{
		assistant.load_next_page();
	});
});
/*]]>*/
</script>

<div class="BasePlaseWaitWindow" id="AssistantFinish" title=""> 
<div><img src='images/animations/loading_circle_small.gif' alt=''> [[LANG:BaseGlobalMessageWait]]</div>
</div> 

<br />
<table class='Form FormCenterBox70'>
	<tr>
		<td>Organisation Unit:</td>
		<td>[[SAMPLE_ORGANISATION_UNIT]]</td>
	</tr>
	<tr>
		<td>Template:</td>
		<td>[[SAMPLE_TEMPLATE]]</td>
	</tr>
	<tr>
		<td>Name:</td>
		<td>[[SAMPLE_NAME]]</td>
	</tr>
	
	<!-- IF ([[SAMPLE_MANUFACTURER]]) -->
	<tr>
		<td>Manufacturer:</td>
		<td>[[SAMPLE_MANUFACTURER]]</td>
	</tr>
	<!-- ENDIF -->
	
	<!-- IF ([[SAMPLE_LOCATION]]) -->
	<tr>
		<td>Location:</td>
		<td>[[SAMPLE_LOCATION]]</td>
	</tr>
	<!-- ENDIF -->
	
	<!-- IF ([[SAMPLE_DATE_OF_EXPIRY]]) -->
	<tr>
		<td>Date of Expiry:</td>
		<td>[[SAMPLE_DATE_OF_EXPIRY]]</td>
	</tr>
	<!-- ENDIF -->
	
	<tr>
		<td colspan='2'><div class='horizontal_line'>&nbsp;</div></td>
	</tr>		
	<tr>
		<td colspan='2'>Description/Comment:</td>
	</tr>
	<tr>
		<td colspan='2'>[[SAMPLE_DESCRIPTION]]</td>
	</tr>
	<tr>
		<td colspan='2'><div class='horizontal_line'>&nbsp;</div></td>
	</tr>
	<tr>
		<td colspan='2'>
			<br />
			<div class='button_left'><button id='AssistantPrevious' class='Button'>previous</button></div>
			<div class='button_right'><button id='AssistantNext' class='Button'>next</button></div>
		</td>
	</tr>
</table>
