<div id='login_wrapper'>

<!-- CONTAINER BEGIN ("Login Help","loginRound") -->

<div>

<br />You need an username and a password to log-in Open-LIMS.
<br />To log-in, just enter your username and your password into the belonging fields and click on "Login".
<br />
<br />If you do not have an account, contact your system-administrator to get an personal account on Open-LIMS.				
<br />
<br /> 				

</div>

<div class='center'><span class='smallLoginText'><a href='index.php'>Back</a></span></div>
								
<!-- CONTAINER END ("loginRound") --> 					
 					
<div class='info_login_container'>{PRODUCT_NAME}, version: {VERSION}, {SERVER_INFO}, {PRODUCT_USER}
<br />This is free software; It comes with ABSOLUTELY NO WARRANTY.
<br />by R. Konertz, B. Tunggal, L. Eichinger; 2008-2010
</div>

<div id='login_footer'></div>	
</div>	