
<!-- CONTAINER BEGIN ("Login","loginRound") -->
						 			
<br />
<br />
<div class='center'>Please wait, your login is in progress.
<br /><img src='images/loading.gif' alt='' />
<br />
<META HTTP-EQUIV='Refresh' CONTENT='3; URL=index.php?username={USERNAME}&#38;session_id={SESSION_ID}&#38;nav=home'>
<br /><span class='smallText'>if you're not forwarded until 5 seconds, click <a href='index.php?username={USERNAME}&#38;session_id={SESSION_ID}&#38;nav=home'>here</a></span></div>
<br />
<br />
<br />

<!-- CONTAINER END ("loginRound") --> 					
 					
<div class='info_login_container'>{FOOTER}</div>