<script>
$(document).ready(function()
{
	base_dialog("POST", "ajax.php?session_id="+get_array['session_id']+"&nav=job&run=start_test", 'get_array=[[GET_ARRAY]]', "JobTestStart");
	list.autoreload(5000);
});
</script>

<div id="JobTestStartWindow" title="Create New Log Entry" style='display: none;'>
</div>

<!-- CONTAINER BEGIN ("Jobs") -->

<!-- IF ([[TEST_JOB]]) -->

<div id='ListButtonBar'>
	<a id='JobTestStart' class='ListButton'>
	<img src='images/icons/add.png' alt='' />
	<div>Start Test Job(s)</div>
	</a>
</div>
<div id='ListButtonBarClear'></div>

<!-- ENDIF -->

[[LIST]]

<!-- CONTAINER END () -->