
<script>
$(document).ready(function()
{
	function check_form()
	{
		return true;
	}
	$("#AssistantPrevious").click(function()
	{
		if (check_form() == true)
		{
			assistant.load_previous_page();
		}
	});
	$("#AssistantNext").click(function()
	{
		if (check_form() == true)
		{
			assistant.load_next_page();
		}
	});
});
</script>

	
<!-- FOREACH BEGIN ([[CONTENT]]) -->

	<div class='bold'>[[CONTENT:HEADLINE]]</div><br />

	[[CONTENT:HTML]]

	<input name='[[CONTENT:ITEM_NAME]]' value='[[CONTENT:ITEM_VALUE]]' type='hidden' class='SampleCloneAssistantField' />
	<br /><div class='horizontal_line'>&nbsp;</div>

<!-- FOREACH END -->

<!-- IF ([[NO_VALUE]]) -->
		
<div class='bold'>This sample has no values.</div>

<!-- ENDIF -->

<table class='formTable'>
	<tr>
		<td>
			<br />
			<div class='button_left'><button id='AssistantPrevious' class='AssistantButtonDisabled'>previous</button></div>
			<div class='button_right'><button id='AssistantNext' class='AssistantButton'>next</button></div>
		</td>
	</tr>
</table>