<script>
$(document).ready(function()
{
	function check_form()
	{
		var return_value = true;
		
		$("#SampleCreateError1").html("");
		$("#SampleCreateError2").html("");
		$("#SampleCreateError3").html("");
		$("#SampleCreateError4").html("");
		
		if (!$(".SampleCreateAssistantField[name='sample_name']").val())
		{
			$("#SampleCreateError1").html("You have to enter a sample name.");
			return_value = false;
		}
		
		<!-- IF ([[CHECK_MANUFACTURER]]) -->
		
		if (!$(".SampleCreateAssistantField[name='sample_manufacturer_name']").val())
		{
			$("#SampleCreateError2").html("You have to select a manufacturer.");
			return_value = false;
		}
		
		<!-- ENDIF -->
		
		<!-- IF ([[CHECK_EXPIRY]]) -->
		
		if (!$(".SampleCreateAssistantField[name='sample_expiry']").val())
		{
			$("#SampleCreateError3").html("You have to set a date of expiry.");
			return_value = false;
		}
		
		<!-- ENDIF -->
		
		<!-- IF ([[CHECK_LOCATION]]) -->
		
		if (!$(".SampleCreateAssistantField[name='sample_location']").val())
		{
			$("#SampleCreateError4").html("You have to select a sample location");
			return_value = false;
		}
		
		<!-- ENDIF -->
		
		return return_value;
	}
	$("#AssistantPrevious").click(function()
	{
		if (check_form() == true)
		{
			assistant.load_previous_page();
		}
		else
		{
			assistant.save_data();
		}
	});
	$("#AssistantNext").click(function()
	{
		if (check_form() == true)
		{
			assistant.load_next_page();
		}
		else
		{
			assistant.save_data();
		}
	});
	
	$(function()
	{
		$( "#datepicker" ).datepicker(
		{
			changeMonth: true,
			changeYear: true,
			dateFormat: 'yy-mm-dd'
		});
	});
	
	$('#warning').hide();
	$('#show_warning').click(function()
	{
		if ($('#warning').is(":visible"))
		{
			$('#warning').fadeOut("slow");
		}
		else
		{
			$('#warning').fadeIn("slow");
		}
		
	});
	
	<!-- IF ([[SHOW_MANUFACTURER]]) -->
	
	$('#ManufactuerNameField').click(function()
	{
		$( "#ManufacturerDialog" ).dialog( "open" );
		return false;
	});
	
	<!-- ENDIF -->

});
</script>

[[MANUFACTURER_HTML]]

<br />
<table class='formTable'>
	<tr>
		<th width='50%'></th>
		<th width='50%'></th>
	<tr>
		<td>Name:</td>
		<td>
			<input type='text' name='sample_name' class='sampleTextfield SampleCreateAssistantField' value='[[NAME]]' />
			<span class='FormError' id='SampleCreateError1'></span>
		</td>
	</tr>
	
	<!-- IF ([[SHOW_MANUFACTURER]]) -->
	<tr>
		<td>Supplier/Source/Manufacturer:</td>
		<td>
			<input type='text' name='sample_manufacturer_name' class='sampleTextfield SampleCreateAssistantField' value='[[MANUFACTURER_NAME]]' id='ManufactuerNameField' />
			<input type='hidden' name='sample_manufacturer_id' value='[[MANUFACTURER]]' id='ManufactuerIdField' class='SampleCreateAssistantField' />
			<span class='FormError' id='SampleCreateError2'></span>
		</td>
	</tr>
	<!-- ENDIF -->
	
	<!-- IF ([[SHOW_EXPIRY]]) -->
	<tr>
		<td>Date of Expiry: (<a href='#' id='show_warning'>lead time</a>)</td>
		<td>
			<input type='text' name='sample_expiry' class='sampleTextfield SampleCreateAssistantField' value='[[EXPIRY]]' id='datepicker' />
			<span class='FormError' id='SampleCreateError3'></span>
		</td>
	</tr>
	<tr id='warning'>
		<td>Lead-Time (in days):</td>
		<td>
			<input type='text' name='sample_expiry_warning' class='sampleTextfield SampleCreateAssistantField' value='[[EXPIRY_WARNING]]' />
		</td>
	</tr>
	<!-- ENDIF -->
	
	<!-- IF ([[SHOW_LOCATION]]) -->
	<tr>
		<td>Location:</td>
		<td>
			<select name='sample_location' class='sampleSelect SampleCreateAssistantField'>
			
			<!-- FOREACH BEGIN ([[LOCATION]]) -->
	
				<option value='[[LOCATION:VALUE]]'>[[LOCATION:CONTENT]]</option>
	
			<!-- FOREACH END -->	
				
			</select>
			<span class='FormError' id='SampleCreateError4'></span>
		</td>
	</tr>
	<!-- ENDIF -->

	<tr>
		<td colspan='2'><div class='horizontal_line'>&nbsp;</div></td>
	</tr>			
	<tr>
		<td colspan='2'>Description/Comment (optional)</td>
	</tr>
	<tr>
		<td colspan='2'><textarea name='sample_description' cols='66' rows='10' class='FormTextarea SampleCreateAssistantField'>[[DESC]]</textarea></td>
	</tr>
	<tr>
		<td colspan='2'><div class='horizontal_line'>&nbsp;</div></td>
	</tr>
	<tr>
		<td colspan='2'>
			<br />
			<div class='button_left'><button id='AssistantPrevious' class='AssistantButtonDisabled'>previous</button></div>
			<div class='button_right'><button id='AssistantNext' class='AssistantButton'>next</button></div>
		</td>
	</tr>
</table>