<br />

<!-- CONTAINER BEGIN ("Change Group: [[TITLE]]",0) -->

<br />
<form action='index.php?[[PARAMS]]' method='post'>
<table class='formTable'>
	<tr>
		<td><span class='bold'>Select the new group:</span></td>
	</tr>
	<tr>
		<td><select name='group' size='10' class='FormSelect' />

		<!-- FOREACH BEGIN ([[OPTION]]) -->

		<option value='[[OPTION:VALUE]]'>[[OPTION:CONTENT]]</option>

		<!-- FOREACH END -->

		</select>[[ERROR]]</td>
	</tr>
	<tr>
		<td><br />
			<div class='button_right'><input type='submit' value='next' name='submitbutton' class='next_button' /></div>
		</td>
	</tr>
</table>
</form>

<!-- CONTAINER END (0) -->					

<br />
<div class='center'><a href='index.php?[[BACK_LINK]]'>back</a></div>