<br />
<form action='index.php?[[PARAMS]]' method='post' id='FolderDeleteWindowForm'>
<table class='formTable'>
	<tr>
		<td colspan='2'>Are you really want to delete this folder?</td>
	</tr>
	<tr>
		<td colspan='2'><br /></td>
	</tr>
	<tr>
		<td width='25px'><input type='checkbox' name='recursive' value='1' checked disabled /></td>
		<td>Delete Subfolders</td>
	</tr>
	<tr>
		<td><input type='checkbox' name='data' value='1' checked disabled /></td>
		<td>Delete Data</td>
	</tr>
</table>
</form>
<br />