<br />

<!-- CONTAINER BEGIN ("Move Folder") -->

<div class='center'>Select target:</div>
<br />

<script type="text/javascript">
	treeFolderInit(2);
</script>

<form action='index.php?[[PARAMS]]' method='post'>

	<ul id="tree_menu_2" class="tree_menu">
		<li id='tree_menu_no_js'>Your browser does not support JavaScript</li>
	</ul>
	
	<div class='button_right' style='margin: 10px;'>
		<input type='submit' value='next' name='submitbutton' class='next_button' />
	</div>
	<div class='clearbox'></div>

</form>

<!-- CONTAINER END () -->	