<br />

<!-- CONTAINER BEGIN ("Add Value: [[TITLE]]",0) -->

<form action='index.php?[[PARAMS]]' method='post' onSubmit='return submitForm(this.submitbutton)'>

[[VALUE]]

<input type='hidden' name='type_id' value='[[TYPE_ID]]' />
<input type='hidden' value='[[DESCRIPTION]]' name='description' />
<input type='hidden' value='[[KEYWORDS]]' name='keywords' />

<table class='formTable'>
	<tr>
		<td><br /></td>
	</tr>
	<tr>
		<td>
			<input type='submit' value='add' class='FormButton' />
		</td>
	</tr>
</table>

</form>

<script language='javascript'>
var auto_field = new autofield('[[AUTOFIELD_STRING]]');
</script>

<!-- CONTAINER END (0) -->
		