<script>
$(document).ready(function()
{
	
	$(".ManufacturerListDelete").each().live('click', function()
	{
		var id = $(this).attr("id");
		id = id.replace("ManufacturerListDelete","");
		$.ajax(
		{
			type: "GET",
			url: "core/modules/manufacturer/ajax/manufacturer.ajax.php",
			data: "session_id="+get_array['session_id']+"&run=delete&id="+id,
			success: function(data)
			{
				if (data == 1)
				{
					list.reload();
				}
			}
		});
	});
	
	
	$('#ManufactuerAdd').click(function()
	{
		$("#ManufacturerAddDialog").dialog("open");
		$("#ManufacturerAddDialogField").val("");
		return false;
	});
	
	$("#ManufacturerAddDialog").bind( "dialogbeforeclose", function(event, ui) 
	{
		list.reload();
	}); 
});
</script>

[[ADD_DIALOG]]

<br />

<!-- CONTAINER BEGIN ("Manufacturers") -->
<div class='boxIconBar'>

<div class='boxIcon'><img src='images/icons/add.png' alt='' />&nbsp;<a href='#' id='ManufactuerAdd'>Add a Manufacturer</a></div>

</div>

[[LIST]]

<!-- CONTAINER END () -->