
<script>

$(document).ready(function()
\{
	var max_entries = 25;
	var get_array = getQueryParams(document.location.search);
	
	function reload_content()
	\{	
		$.ajax(
		\{
			type: "GET",
			url: "core/modules/manufacturer/manufacturer.ajax.php",
			data: "session_id="+get_array['session_id']+"&run=get_next_entries&start=0&number="+max_entries+"&string="+$("#manufacturerDialogSearchField").val(),
			success: function(data)
			\{
				if (data)
				\{
					$("#manufacturerDialogContent").html(data);
					$.ajax(
					\{
						type: "GET",
						url: "core/modules/manufacturer/manufacturer.ajax.php",
						data: "session_id="+get_array['session_id']+"&run=get_number_of_entries&string="+$("#manufacturerDialogSearchField").val(),
						success: function(data)
						\{
							if (parseInt(data) > max_entries)
							\{
								$("#manufacturerDialogContent").append("<tr><td colspan='2'><div id='manufacturerDialogContentMore'><a href='#'>more...</a></div></td></tr>");
								$( "#manufacturerDialogContentMore" ).click(function()
								\{	
									max_entries = max_entries + 25;
									reload_content();
								\});
							\}
						\}
					\});
				\}
				else
				\{
					$("#manufacturerDialogContent").html("<tr><td colspan='2'>No Entries found!</td></tr>");
				\}
			\}
		\});
	\}
	
	$( "#manufacturerDialog" ).dialog(
	\{
		autoOpen: false,
		buttons: 
		\{
			"Close": function()
			\{
				$( this ).dialog( "close" );
			\},
			"OK": function()
			\{
				$("#manufactuerIdField").val($("input[@name='manufacturer']:checked").val());
				$.ajax(
				\{
					type: "GET",
					url: "core/modules/manufacturer/manufacturer.ajax.php",
					data: "session_id="+get_array['session_id']+"&run=get_name&id="+$("input[@name='manufacturer']:checked").val(),
					success: function(data)
					\{
						if (data)
						\{
							$("#manufactuerNameField").val(data);
						\}
					\}
				\});
				$( this ).dialog( "close" );
			\}
		\},
		height: 350,
		width: 450
	\});
	
	reload_content();
	
	$( "#manufacturerDialogSearchField" ).keyup(function()
	\{
		reload_content();
	\});
	
	$( "#manufacturerDialogButtonNew" ).click(function()
	\{
		if (!$("#manufacturerDialogNewFieldTr").html())
		\{
			var data = $("#manufacturerDialogContent").html();
			
			$("#manufacturerDialogContent").html("<thead><tr id='manufacturerDialogNewFieldTr'>"+
													"<td><input type='text' id='manufacturerDialogNewField' /></td>"+
													"<td><a href='#' id='manufacturerDialogNewFieldButtonAdd'><img src='images/icons/add.png' alt='+' class='manufacturerDialogNewFieldButton' /></a>"+
														"<a href='#' id='manufacturerDialogNewFieldButtonCancel'><img src='images/icons/cancel.png' alt='X'' class='manufacturerDialogNewFieldButton' /></a></td>"+
													"</tr></thead>"+data);
		\}
	
		$( "#manufacturerDialogNewField" ).keyup(function()
		\{
			$.ajax(
			\{
				type: "POST",
				url: "core/modules/manufacturer/manufacturer.ajax.php?session_id="+get_array['session_id']+"&run=exist_name",
				data: "name="+$("#manufacturerDialogNewField").val(),
				success: function(data)
				\{
					if (data == 1)
					\{
						$("#manufacturerDialogNewField").css("color", "#FF0000");
					\}
					else
					\{
						$("#manufacturerDialogNewField").css("color", "#000000");
					\}
				\}
			\});
		\});
		
		$( "#manufacturerDialogNewFieldButtonAdd" ).click(function()
		\{
			$.ajax(
			\{
				type: "POST",
				url: "core/modules/manufacturer/manufacturer.ajax.php?session_id="+get_array['session_id']+"&run=exist_name",
				data: "name="+$("#manufacturerDialogNewField").val(),
				success: function(data)
				\{
					if (data == 0)
					\{
						$.ajax(
						\{
							type: "POST",
							url: "core/modules/manufacturer/manufacturer.ajax.php?session_id="+get_array['session_id']+"&run=add_entry",
							data: "name="+$("#manufacturerDialogNewField").val(),
							success: function(data)
							\{
								if (data == 1)
								\{
									reload_content();
								\}
							\}
						\});
					\}
				\}
			\});
		\});
		
		$( "#manufacturerDialogNewFieldButtonCancel" ).click(function()
		\{
			$("#manufacturerDialogNewFieldTr").detach();
		\});
		
	\});

\});
</script>

<div id="manufacturerDialog" title="Select Manufacturer" style='display: none;'>
	<div style='text-align: center; font-weight: bold;'>
		<div id='manufacturerDialogSeach'>
			<input type='text' id='manufacturerDialogSearchField' size='50' />
		</div>
		<div id='manufacturerDialogButton'>
			<a href='#' id='manufacturerDialogButtonNew'><img src='images/icons/new.png' alt='New' style='border: 0;' /></a>
		</div>
		<div id='manufacturerDialogClear'></div>
	</div>
	<div style='border-bottom: 1px #D0D0D0 solid; margin: 5px 0;'></div>
	<table id='manufacturerDialogContent' width='100%'>
	</table>
</div>