<ul class='AdministrationNavigation'>

<li><div class='AdminstrationNavigationTitle'>Base</div></li>
		
<li><a href='index.php?{PROJECT_TEMPLATE_PARAMS}'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{PROJECT_TEMPLATE_PARAMS}'>Includes</a></li>
<li><a href='index.php?{PROJECT_TEMPLATE_PARAMS}'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{PROJECT_TEMPLATE_PARAMS}'>Modules</a></li>
<li><a href='index.php?{PROJECT_TEMPLATE_PARAMS}'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{PROJECT_TEMPLATE_PARAMS}'>Navigation</a></li>
<li><a href='index.php?{PROJECT_TEMPLATE_PARAMS}'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{PROJECT_TEMPLATE_PARAMS}'>Extensions</a></li>

<li><div class='AdminstrationNavigationTitle'>Organisation</div></li>

<li><a href='index.php?{USER_PARAMS}'><img src='images/icons/user.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{USER_PARAMS}'>Users</a></li>
<li><a href='index.php?{GROUP_PARAMS}'><img src='images/icons/groups.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{GROUP_PARAMS}'>Groups</a></li>
<li><a href='index.php?{ORGANISATION_UNIT_PARAMS}'><img src='images/icons/organisation_unit.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{ORGANISATION_UNIT_PARAMS}'>Organisation Units</a></li>
			
<li><div class='AdminstrationNavigationTitle'>Projects/Samples</div></li>
			
<li><a href='index.php?{PROJECT_TEMPLATE_PARAMS}'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{PROJECT_TEMPLATE_PARAMS}'>Project-Templates</a></li>
<li><a href='index.php?{PROJECT_TEMPLATE_CAT_PARAMS}'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{PROJECT_TEMPLATE_CAT_PARAMS}'>Project-Templ.-Cat.</a></li>
<li><a href='index.php?{SAMPLE_TEMPLATE_PARAMS}'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{SAMPLE_TEMPLATE_PARAMS}'>Sample-Templates</a></li>
<li><a href='index.php?{SAMPLE_TEMPLATE_CAT_PARAMS}'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{SAMPLE_TEMPLATE_CAT_PARAMS}'>Sample-Templ.-Cat.</a></li>
<li><a href='index.php?{PROJECT_STATUS_PARAMS}'><img src='images/icons/status_run.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{PROJECT_STATUS_PARAMS}'>Project-Status</a></li>
<li><a href='index.php?{METHOD_CAT_PARAMS}'><img src='images/icons/method.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{METHOD_CAT_PARAMS}'>Method Categories</a></li>
<li><a href='index.php?{METHOD_TYPE_PARAMS}'><img src='images/icons/method.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{METHOD_TYPE_PARAMS}'>Method Types</a></li>
<li><a href='index.php?{SAMPLE_DEPOSITORY_PARAMS}'><img src='images/icons/sample.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{SAMPLE_DEPOSITORY_PARAMS}'>Sample-Depositories</a></li>
<li><a href='index.php?{VALUE_TEMPLATE_PARAMS}'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{VALUE_TEMPLATE_PARAMS}'>Value-Templates</a></li>
			
<li><div class='AdminstrationNavigationTitle'>System</div></li>
			
<!--  <li><a href=''><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href=''>General</a></li> -->
<!--  <li><a href=''><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href=''>Services</a></li> -->
<li><a href='index.php?{SYSTEM_LOG_PARAMS}'><img src='images/icons/system_log.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{SYSTEM_LOG_PARAMS}'>System-Log</a></li>
<li><a href='index.php?{SYSTEM_MESSAGE_PARAMS}'><img src='images/icons/system_message.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?{SYSTEM_MESSAGE_PARAMS}'>System-Messages</a></li>
<!--  <li><a href=''><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href=''>Extensions</a></li> -->
			

</ul>