<div id='navigation'>
<div id='navigation_header'>
<ul id='navigation_switcher'>
<li {FOLDER_LI_CLASS}><a href='index.php?{FOLDER_PARAMS}'><img src='images/icons/folder.png' alt='Folder' style='border: 0;' /></a></li>
<li {ORGANISATION_UNIT_LI_CLASS}><a href='index.php?{ORGANISATION_UNIT_PARAMS}'><img src='images/icons/organisation_unit.png' alt='Organisation Units' style='border: 0;' /></a></li>

<!-- IF ({PROJECT_ENABLED}) -->

<li {PROJECT_LI_CLASS}><a href='index.php?{PROJECT_PARAMS}'><img src='images/icons/project_structure.png' alt='Project Structure' style='border: 0;' /></a></li>

<!-- ELSE -->

<li><div><img src='images/icons/project_structure_na.png' alt='Project Structure' style='border: 0;' /></div></li>

<!-- ENDIF -->

<li><div id='navigation_current_info'>{TITLE}</div></li>
</ul>
</div>
<div id='navigation_header_clear'></div>