<script type="text/javascript">
/*<![CDATA[*/          
$(document).ready(function()
{
	var get_array = getQueryParams(document.location.search);
	
	$("#BaseLogoutQuestion").dialog(
	{
		autoOpen: false,
		height: 180,
		width: 380,
		modal: true,
		draggable: false,
		resizable: false,
		closeOnEscape: false,
		buttons: 
		{
			"[[LANG:BaseGlobalButtonYes]]": function() 
			{
				$(this).parent().find("button").attr("disabled", true);
				$(this).parent().find('.ui-dialog-titlebar-close').hide();

				$("#BaseLogoutQuestion").empty();
				$("#BaseLogoutQuestion").html("<img src='images/animations/loading_circle_small.gif' alt='' /> [[LANG:BaseMainHeaderLogoutWindowWait]]");
				
				$.ajax(
				{
					type: "GET",
					url: "ajax.php",
					data: "nav=base&run=logout&session_id="+get_array['session_id']+"",
					success: function(data)
					{
						if (data == "1")
						{
							window.setTimeout('window.location = "index.php"',1500);
						}
					}
				});
			},
			"[[LANG:BaseGlobalButtonNo]]": function()
			{
			 	$( this ).dialog( "close" );
			}
		}
	});
	
	$('#BaseLogout').click(function()
	{
		$("#BaseLogoutQuestion").dialog("open");
	});
});
/*]]>*/
</script>

<div id="BaseLogoutQuestion" style="display:none; cursor: default"> 
[[LANG:BaseMainHeaderLogoutWindowText]]
</div> 

<div id='Header'>&nbsp;
	<div id='HeaderLogo'><img src='../images/logo.png' alt='Logo' /></div>
	<div id='HeaderRight'>
		<ul id='HeaderMenu'>
		
			<!-- IF ([[SUB_MENU]]) -->

					<!-- FOREACH BEGIN ([[SUB_MENU]]) -->
	
						<li><a href='index.php?[[SUB_MENU:PARAMS]]'>[[SUB_MENU:TITLE]]</a></li>
						<li>|</li>
						
					<!-- FOREACH END -->
			
			<!-- ENDIF -->
		
			<li><a href='index.php?[[MY_PROFILE_PARAMS]]'>[[LANG:BaseMainHeaderMyProfile]]</a></li>
			<li>|</li>
			<li><a href='index.php?[[SYSTEM_MESSAGES_PARAMS]]'>[[LANG:BaseMainHeaderSystemMessages]]</a></li>
			<li>|</li>
			<li><a href='index.php?[[ABOUT_PARAMS]]'>[[LANG:BaseMainHeaderAbout]]</a></li>
			<li>|</li>
			<li><a href='#' id='BaseLogout'>[[LANG:BaseMainHeaderLogout]]  ([[USERNAME]])</a></li>
		</ul>
		<div id='HeaderSearch'>
			<form action='index.php?[[HEADER_SEARCH_PARAMS]]' method='post' >
				<input type='text' name='string' />
				<button type='submit'></button>
				<input type='hidden' name='current_module' value='[[HEADER_SEARCH_CURRENT_MODULE]]' />
			</form>
		</div>
	</div>
	<div id='HeaderClear'></div>
</div>