<!-- CONTAINER BEGIN ("System Information") -->

<table style='width: 100%'>
	<tr>
		<td colspan='2'><div class='profileHeadline'>Server Information:</div></td>
	</tr>
	<tr>
		<td width='30%'>Product:</td>
		<td>[[PRODUCT]]</td>
	</tr>
	<tr>
		<td>Version:</td>
		<td>[[PRODUCT_VERSION]]</td>
	</tr>
	<tr>
		<td>User:</td>
		<td>[[PRODUCT_USER]]</td>
	</tr>
	<tr>
		<td>Function:</td>
		<td>[[PRODUCT_FUNCTION]]</td>
	</tr>
	<tr>
		<td colspan='2'><br /></td>
	</tr>
	<tr>
		<td colspan='2'><a href='index.php?[[SW_INFO_PARAMS]]'>Copyright Information/Credits</a></td>
	</tr>
		<tr>
		<td colspan='2'><a href='index.php?[[LICENSE_PARAMS]]'>License</a></td>
	</tr>
	<tr>
		<td colspan='2'><div class='profileHeadline'>Installed Includes:</div></td>
	</tr>
	<tr>
		<td colspan='2'>[[INCLUDES]]</td>
	</tr>
	<tr>
		<td colspan='2'><div class='profileHeadline'>Installed Modules:</div></td>
	</tr>
	<tr>
		<td colspan='2'>[[MODULES]]</td>
	</tr>
</table>

<!-- CONTAINER END () -->