<div id='navigation'>

<ul class='AdministrationNavigation'>

<li><div class='AdminstrationNavigationTitle'>Base</div></li>
	
<li><a href='index.php?[[GENERAL_PARAMS]]'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?[[GENERAL_PARAMS]]'>General</a></li>
		
<!--  <li><a href='index.php?[[INCLUDE_PARAMS]]'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?[[INCLUDE_PARAMS]]'>Includes</a></li>  -->
<li><a href='index.php?[[MODULE_PARAMS]]'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?[[MODULE_PARAMS]]'>Modules</a></li>
<li><a href='index.php?[[NAVIGATION_PARAMS]]'><img src='images/icons/administration.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?[[NAVIGATION_PARAMS]]'>Navigation</a></li>

<li><a href='index.php?[[SYSTEM_LOG_PARAMS]]'><img src='images/icons/system_log.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?[[SYSTEM_LOG_PARAMS]]'>System-Log</a></li>
<li><a href='index.php?[[SYSTEM_MESSAGE_PARAMS]]'><img src='images/icons/system_message.png' alt='root' border='0' /></a>&nbsp;<a href='index.php?[[SYSTEM_MESSAGE_PARAMS]]'>System-Messages</a></li>

<li><div class='AdminstrationNavigationTitle'>Organisation</div></li>

<!-- FOREACH BEGIN ([[ORGANISATION_ADMIN]]) -->
		
	<li><a href='index.php?[[ORGANISATION_ADMIN:PARAMS]]'><img src='images/icons/[[ORGANISATION_ADMIN:ICON]]' alt='root' border='0' /></a>&nbsp;<a href='index.php?[[ORGANISATION_ADMIN:PARAMS]]'>[[ORGANISATION_ADMIN:TITLE]]</a></li>
	
<!-- FOREACH END -->
		
<li><div class='AdminstrationNavigationTitle'>Modules</div></li>

<!-- FOREACH BEGIN ([[MODULE_ADMIN]]) -->
		
	<li><a href='index.php?[[MODULE_ADMIN:PARAMS]]'><img src='images/icons/[[MODULE_ADMIN:ICON]]' alt='root' border='0' /></a>&nbsp;<a href='index.php?[[MODULE_ADMIN:PARAMS]]'>[[MODULE_ADMIN:TITLE]]</a></li>
	
<!-- FOREACH END -->		
			

</ul>

</div>