<br />

<!-- CONTAINER BEGIN ("System Messages",0) -->
	
<div class='homeMessage'>

<!-- FOREACH BEGIN ([[MESSAGE_ARRAY]]) -->

	<table width='100%'>
		<tr>
			<td>[[MESSAGE_ARRAY:CONTENT]]</td>
		</tr>
		<tr>
			<td><span class='smallTextBlack'>on [[MESSAGE_ARRAY:DATETIME]] by [[MESSAGE_ARRAY:USER]]</span></td>
		</tr>
		<tr>
			<td><div class='horizontal_line'></div></td>
		</tr>
	</table>

<!-- FOREACH END -->

<!-- IF ([[NO_ENTRY]]) -->
	<div class='italic'>No Messeges yet</div>
<!-- ENDIF -->

</div>

[[PAGE_BAR]]

<!-- CONTAINER END (0) -->