<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<meta name='robots' content='noindex, nofollow' />
<meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10" />

<script type="text/javascript" src="../js/jquery/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="../js/jquery/jquery-ui-1.8.11.custom.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/main.css" title="Style" />

<link href="../images/open-lims.ico" rel="shortcut icon" />

<title>Open-LIMS Test</title>

</head>
<body>
<div id="Main">
	<div id="Container">
		<div id='Header'>&nbsp;
			<div id='HeaderLogo'><img src='../images/logo.png' alt='Logo' /></div>
			<div id='HeaderRight'>
				<ul id='HeaderMenu'>
					<li><a href='#'>My Organisation Units</a></li>
					<li>|</li>
					<li><a href='#'>Jobs</a></li>
					<li>|</li>
					<li><a href='#'>My Profile</a></li>
					<li>|</li>
					<li><a href='#'>My Settings</a></li>
					<li>|</li>
					<li><a href='#'>About</a></li>
					<li>|</li>
					<li><a href='#'>Logout (J. Doe)</a></li>
				</ul>
				<div id='HeaderSearch'><input type='text' /><button type='submit'></button></div>
			</div>
			<div id='HeaderClear'></div>
		</div>
			
		<div id='Navigation'>
			<div id='NavigationBackground'></div>
			<ul id='NavigationMenu'>
				<li class='Blue ActiveBlue'>
					<a href='#'>
						<span class='NavigationButton NavigationButtonLeft'></span>
						<span class='NavigationButton NavigationButtonContent'>Home</span>
						<span class='NavigationButton NavigationButtonRight'></span>
					</a>
				</li>
				<li class='Green'>
					<a href='#'>
						<span class='NavigationButton NavigationButtonLeft'></span>
						<span class='NavigationButton NavigationButtonContent'>Projects</span>
						<span class='NavigationButton NavigationButtonDown'><img src='css/down.png' alt='' /></span>
						<span class='NavigationButton NavigationButtonRight'></span>
					</a>
				</li>
				<li class='Orange'>
					<a href='#'>
						<span class='NavigationButton NavigationButtonLeft'></span>
						<span class='NavigationButton NavigationButtonContent'>Samples</span>
						<span class='NavigationButton NavigationButtonDown'><img src='css/down.png' alt='' /></span>
						<span class='NavigationButton NavigationButtonRight'></span>
					</a>
				</li>
				<li class='Blue'>
					<a href='#'>
						<span class='NavigationButton NavigationButtonLeft'></span>
						<span class='NavigationButton NavigationButtonContent'>Material</span>
						<span class='NavigationButton NavigationButtonDown'><img src='css/down.png' alt='' /></span>
						<span class='NavigationButton NavigationButtonRight'></span>
					</a>
				</li>
				<li class='Orange'>
					<a href='#'>
						<span class='NavigationButton NavigationButtonLeft'></span>
						<span class='NavigationButton NavigationButtonContent'>Clients</span>
						<span class='NavigationButton NavigationButtonDown'><img src='css/down.png' alt='' /></span>
						<span class='NavigationButton NavigationButtonRight'></span>
					</a>
				</li>
				<li class='Green'>
					<a href='#'>
						<span class='NavigationButton NavigationButtonLeft'></span>
						<span class='NavigationButton NavigationButtonContent'>Data</span>
						<span class='NavigationButton NavigationButtonRight'></span>
					</a>
				</li>
				<li class='Blue'>
					<a href='#'>
						<span class='NavigationButton NavigationButtonLeft'></span>
						<span class='NavigationButton NavigationButtonContent'>Organiser</span>
						<span class='NavigationButton NavigationButtonRight'></span>
					</a>
				</li>
				<li class='Orange'>
					<a href='#'>
						<span class='NavigationButton NavigationButtonLeft'></span>
						<span class='NavigationButton NavigationButtonContent'>Search</span>
						<span class='NavigationButton NavigationButtonRight'></span>
					</a>
				</li>
				<li class='Green'>
					<a href='#'>
						<span class='NavigationButton NavigationButtonLeft'></span>
						<span class='NavigationButton NavigationButtonContent'>Extensions</span>
						<span class='NavigationButton NavigationButtonRight'></span>
					</a>
				</li>
				<li class='Grey'>
					<a href='#'>
						<span class='NavigationButton NavigationButtonLeft'></span>
						<span class='NavigationButton NavigationButtonContent'>Administration</span>
						<span class='NavigationButton NavigationButtonRight'></span>
					</a>
				</li>
			</ul>
			
			<div id='NavigationMenuClear'></div>
		</div>
		
		<div id='Content'>

