<div class='navigation_sub_navigation_data'>
	<div class='navigation_sub_navigation_left'>
	</div>
	<div class='navigation_sub_navigation_right'>
		<form action='index.php?{MINI_SEARCH_PARAMS}' method='post'>
			<input type='hidden' name='folder_id' value='{MINI_SEARCH_FOLDER_ID}' />
			<input type='text' name='string' class='navigation_sub_navigation_search_field' />
			<button name='submit' type='submit' class='navigation_sub_navigation_search_button'><img src='images/icons/search.png' alt='Search' /></button>
		</form>	
	</div>
</div>";