<div class='navigation_sub_navigation_projects'>
	<div class='navigation_sub_navigation_left'>
		<ul class='navigation_sub_navigation_list'>
			<li>|</li>
			<li><a href='index.php?{NEW_PROJECT_PARAMS}'>New Project</a></li>
			<li>|</li>
			<li><a href='index.php?{MY_PROJECTS_PARAMS}'>My Projects</a></li>
			<li>|</li>
		</ul>
	</div>
	<div class='navigation_sub_navigation_right'>
		<form action='index.php?{MINI_SEARCH_PARAMS}' method='post'>
			<input type='hidden' name='organisation_unit' value='0' />
			<input type='hidden' name='template' value='0' />
			<input type='text' name='name' class='navigation_sub_navigation_search_field' />
			<button name='submit' type='submit' class='navigation_sub_navigation_search_button'><img src='images/icons/search.png' alt='Search' /></button>
		</form>	
	</div>
</div>