<div class='navigation_sub_navigation_search'>
	<div class='navigation_sub_navigation_left'>
		<ul class='navigation_sub_navigation_list'>
			<li><a href='index.php?{PROJECT_SEARCH_PARAMS}'>Project Search</a></li>
			<li>|</li>
			<li><a href='index.php?{SAMPLE_SEARCH_PARAMS}'>Sample Search</a></li>
			<li>|</li>
			<li><a href='index.php?{FFV_SEARCH_PARAMS}'>F/F/V Search</a></li>
			<li>|</li>
			<li><a href='index.php?{DATA_SEARCH_PARAMS}'>Data Search</a></li>
			<li>|</li>
			<li><a href='index.php?{USER_SEARCH_PARAMS}'>User Search</a></li>
			<li>|</li>
			<li><a href='index.php?{FULL_TEXT_SEARCH_PARAMS}'>Full Text Search</a></li>
		</ul>
	</div>
</div>