<br />

<!-- CONTAINER BEGIN ("Add Project Task",0) -->

	<br />
	<form action='index.php?{PARAMS}' method='post'>
	<table class='formTable'>
		<tr>
			<td colspan='2'>Select the type of the task:</td>
		</tr>
		<tr>
			<td colspan='2'><br /></td>
		</tr>
		<tr>
			<td width='35px'><input type='radio' name='type' value='1' checked='checked' /></td>
			<td>Status Related Task</td>
		</tr>
		<tr>
			<td width='35px'><input type='radio' name='type' value='2' /></td>
			<td>Unrelated Task</td>
		</tr>
		<tr>
			<td width='35px'><input type='radio' name='type' value='3' /></td>
			<td>Milestone</td>
		</tr>
		<tr>
			<td colspan='2'><br /></td>
		</tr>
		<tr>
			<td colspan='2'><input type='submit' value='next' name='submitbutton' class='FormButton'></td>
		</tr>
	</table>
	
<!-- CONTAINER END (0) -->