<br />

<!-- CONTAINER BEGIN ("Update File",0) -->

<iframe src='core/modules/data/file.update.php?{PARAMS}' name='hidden_uploader' style='display: none;'></iframe>
<iframe src='core/modules/data/file_check.upload.php?{PARAMS}' name='hidden_upload_checker' style='display: none;'></iframe>

<div class='file_upload_container'>
<br />
<br />
<form enctype='multipart/form-data' action='core/modules/data/file.update.php?{PARAMS}' method='post' target='hidden_uploader'>
<table class='file_update_table'>
	
	<tbody id='uploader_tbody'>
	
		<tr>
			<td><br /><br /><span class='smallTextBlack'>Upload your new file here. The old file will be stored as a previous version.</span><br /><br /></td>
		</tr>
								
		<tr>
			<td>file</td>
			<td></td>
		</tr>
		<tr>
			<td><input type='file' name='file-1' id='file-1' value='' /></td>
		</tr>
		<tr>
			<td><span class='formError' id='file-1-error'></span></td>
		</tr>
	
		<tr id='uploader_break'>
			<td><input type='checkbox' name='current' value='1' checked='checked' /> New file is current version</td>
		</tr>
	
		<tr>
			<td ><br /></td>
		</tr>
							
		<tr>
			<td>
				<br />
				<input type='hidden' name='file_amount' id='uploader_file_amount' value='1' />
				<input type='hidden' value='{DESCRIPTION}' name='description' />
				<input type='hidden' value='{KEYWORDS}' name='keywords' />
				<button type='submit' id='uploader_upload' class='FormButton'>Update</button>
			</td>
	</tr>
	
	</tbody>
	
</table>

<script language='javascript'>
var upload_reload = false;
uploader = new Uploader();
uploader.setUniqueId('{UNIQUE_ID}');
uploader.setSessionId('{SESSION_ID}');
</script>

</form>
<br />
<br />
</div>
<div id='AjaxProceed'></div>

<!-- CONTAINER END (0) -->