<br />

<!-- CONTAINER BEGIN ("Add Folder",0) -->

<br />
<form action='index.php?{PARAMS}' method='post' onSubmit='return submitForm(this.submitbutton)'>
<table class='formTable'>
	<tr>
		<td>Name:</td>
		<td></td>
	</tr>
	<tr>
		<td>
			<input type='textfield' name='name' value='{NAME}' size='40' />
			<br />
			<span class='formError'>{ERROR}</span>
		</td>
	<td>
	</td>
	<tr>
		<td>
			<br /><br /><br />
			<input type='submit' value='new' name='submitbutton' class='FormButton' />
		</td>
	</tr>
</table>
</form>
<br />

<!-- CONTAINER END (0) -->	