<br />

<!-- CONTAINER BEGIN ("{ADD_EDIT} Permission",0) -->

<br />
<form action='index.php?{PARAMS}' method='post'>

	<table class='formTable'>
		<tr>
			<td width='25%'><span class='bold'>User/Group:</span></td>
			<td>{NAME}</td>
		</tr>
		<tr>
			<td><span class='bold'>Type:</span></td>
			<td>{TYPE}</td>
		</tr>
		<tr>
			<td colspan='2'><hr /></td>
		</tr>
	</table>
		
	<table class='formTable'>
		
		<tr>
			<td>RE</td>
			<td><input type='checkbox' name='re' value='1' {CHECKED_RE} {DISABLED_RE} /></td>
		</tr>
		
		<tr>
			<td>SR</td>
			<td><input type='checkbox' name='sr' value='1' {CHECKED_SR} {DISABLED_SR} /></td>
		</tr>
		
		<tr>
			<td>WR</td>
			<td><input type='checkbox' name='wr' value='1' {CHECKED_WR} {DISABLED_WR} /></td>
		</tr>
		
		<tr>
			<td>SW</td>
			<td><input type='checkbox' name='sw' value='1' {CHECKED_SW} {DISABLED_SW} /></td>
		</tr>
		
		<tr>
			<td>RA</td>
			<td><input type='checkbox' name='ra' value='1' {CHECKED_RA} {DISABLED_RA} /></td>
		</tr>
		
		<tr>
			<td>DE</td>
			<td><input type='checkbox' name='de' value='1' {CHECKED_DE} {DISABLED_DE} /></td>
		</tr>
		
		<tr>
			<td>SP</td>
			<td><input type='checkbox' name='sp' value='1' {CHECKED_SP} {DISABLED_SP} /></td>
		</tr>
		
		<tr>
			<td colspan='2'>
				<span class='formError'>{ERROR}</span>
				<br />
				<br />
				<div class='button_right'><input type='submit' value='next' name='submitbutton' class='next_button' /></div>
			</td>
		</tr>
		
	</table>
	
	<input type='hidden' name='user' value='{USER}' />
	<input type='hidden' name='group' value='{GROUP}' />
	<input type='hidden' name='ou' value='{OU}' />
	
</form>
<br />

<!-- CONTAINER END (0) -->