
<div class='boxIconBar'>

<!-- IF ({YEAR}) -->
	<div class='boxIconElement'><img src='images/icons/year.png' alt='' />&nbsp;<a href='index.php?{PARAMS}&#38;view=year'>Year</a></div>
<!-- ENDIF -->

<!-- IF ({MONTH}) -->
	<div class='boxIconElement'><img src='images/icons/month.png' alt='' />&nbsp;<a href='index.php?{PARAMS}&#38;view=month'>Month</a></div>
<!-- ENDIF -->

<!-- IF ({WEEK}) -->
	<div class='boxIconElement'><img src='images/icons/7days.png' alt='' />&nbsp;<a href='index.php?{PARAMS}&#38;view=week'>Week</a></div>
<!-- ENDIF -->

<!-- IF ({WORKWEEK}) -->
	<div class='boxIconElement'><img src='images/icons/5days.png' alt='' />&nbsp;<a href='index.php?{PARAMS}&#38;view=workweek'>Work Week</a></div>
<!-- ENDIF -->

<!-- IF ({DAY}) -->
	<div class='boxIconElement'><img src='images/icons/1day.png' alt='' />&nbsp;<a href='index.php?{PARAMS}&#38;view=day'>1 Day</a></div>
<!-- ENDIF -->

<!-- IF ({TODO}) -->
	<div class='boxIconElement'><img src='images/icons/todo.png' alt='' />&nbsp;<a href='index.php?{PARAMS}&#38;view=todo'>To-Do List</a></div>
<!-- ENDIF -->

<div class='boxIconClear'></div>

</div>
