
<script>
$(document).ready(function()
{
	function check_form()
	{
		$("#ProjectCreateError1").html("");
		$("#ProjectCreateError2").html("");
		
		if ($(".ProjectCreateAssistantField[name='project_name']").val())
		{
			if ($(".ProjectCreateAssistantField[name='project_description']").val())
			{
				var success;
				
				$.ajax(
				{
					type: "GET",
					url: "/core/modules/project/project_create.ajax.php",
					async: false,
					data: "session_id="+get_array['session_id']+"&run=check_data&name="+$(".ProjectCreateAssistantField[name='project_name']").val(),
					success: function(data)
					{
						if (data == '1')
						{
							$("#ProjectCreateError1").html("<br />This project already exists.");
							success = false;
						}
						else
						{
							success = true;
						}
					}
				});
				
				return success;
			}
			else
			{
				$("#ProjectCreateError2").html("<br />You have to enter a description.");
				$.ajax(
				{
					type: "GET",
					url: "/core/modules/project/project_create.ajax.php",
					async: false,
					data: "session_id="+get_array['session_id']+"&run=check_data&name="+$(".ProjectCreateAssistantField[name='project_name']").val(),
					success: function(data)
					{
						if (data == '1')
						{
							$("#ProjectCreateError1").html("<br />This project already exists.");
						}
					}
				});
				return false;
			}
			
			
		}
		else
		{
			$("#ProjectCreateError1").html("<br />You have to enter a name.");
			if (!$(".ProjectCreateAssistantField[name='project_description']").val())
			{
				$("#ProjectCreateError2").html("<br />You have to enter a description.");
			}
			return false;
		}
	}
	$("#AssistantPrevious").click(function()
	{
		if (check_form() == true)
		{
			assistant.load_previous_page();
		}
	});
	$("#AssistantNext").click(function()
	{
		if (check_form() == true)
		{
			assistant.load_next_page();
		}
	});
});
</script>

<br />
<table class='formTable'>
	<tr>
		<td>Project name:</td>
		<td>
			<input name='project_name' value='[[PROJECT_NAME]]' type='text' size='30' class='FormTextfield ProjectCreateAssistantField' />
			<span class='FormError' id='ProjectCreateError1'></span>
		</td>
	</tr>
	<tr>
		<td colspan='2'><img src='images/icons/info.png' alt='info' /><span class='smallTextBlack'> Enter a significant project name (e.g. P. marcidus infection w. M. marinum).</span><br /><br /></td>
	</tr>
	<tr>
		<td colspan='2'>Project Description</td>
	</tr>
	<tr>
		<td colspan='2'><span class='smallTextBlack'>formatting commands:&nbsp;[b]<span class='bold'>bold</span>[/b], [u]<span class='underline'>underline</span>[/u], [i]<span class='italic'>italic</span>[/i]</span></td>
	</tr>
	<tr>
		<td colspan='2'>
			<textarea name='project_description' cols='66' rows='15' class='FormTextarea ProjectCreateAssistantField'>[[PROJECT_DESCRIPTION]]</textarea>
			<span class='FormError' id='ProjectCreateError2'></span>
		</td>
	</tr>
	
	<tr>
		<td colspan='2'><div class='horizontal_line'>&nbsp;</div></td>
	</tr>	
	<tr>
		<td colspan='2'>
			<br />
			<div class='button_left'><button id='AssistantPrevious' class='AssistantButton'>previous</button></div>
			<div class='button_right'><button id='AssistantNext' class='AssistantButton'>next</button></div>
		</td>
	</tr>
</table>
</form>
<br />
