<br />

<!-- CONTAINER BEGIN ("Create New Sample (4/5)",0) -->

<form action='index.php?[[LINK]]' method='post'>
[[BAR]]
<br />
	[[CONTENT]]
	<table class='formTable'>
	<tr>
		<td><br />
			<div class='button_left'><input type='submit' value='previous' name='submitbutton' class='previous_button' /></div>
			<div class='button_right'><input type='submit' value='next' name='submitbutton' class='next_button' /></div>
		</td>
	</tr>
</table>
<input type='hidden' name='template_data_type' value='value' />
<input type='hidden' name='template_data_type_id' value='[[TEMPLATE_DATA_TYPE_ID]]' />
</form>


<!-- CONTAINER END (0) -->