
<script>
$(document).ready(function()
{
	$("#AssistantPrevious").click(function()
	{
		assistant.load_previous_page();
	});
	$("#AssistantNext").click(function()
	{
		assistant.load_next_page();
	});
});
</script>

<br />
	[[CONTENT]]
	<table class='formTable'>
	<tr>
		<td>
			<br />
			<div class='button_left'><button id='AssistantPrevious' class='AssistantButton'>previous</button></div>
			<div class='button_right'><button id='AssistantNext' class='AssistantButton'>next</button></div>
		</td>
	</tr>
</table>
<input type='hidden' name='project_template_data_type' value='value' class='ProjectCreateAssistantField' />
<input type='hidden' name='project_template_data_type_id' value='[[PROJECT_TEMPLATE_DATA_TYPE_ID]]' class='ProjectCreateAssistantField' />