<br />

<!-- CONTAINER BEGIN ("Create New Project (0/5)",0) -->

<br />
<div class='center'><span class='bold'>I want to create a ...</span></div>
<br />
<br />
<form action='index.php?[[LINK]]' method='post'>
<table class='ProjectCreateIWantTo'>
	<tr>
		<td><img src='images/explanations/project.png' alt='' /></td>
		<td><input type='radio' name='type' value='1' /></td>
		<td><span class='bold'>normal project</span><br />A standard project/experiment which contains data (e.g. microscopy or microarray experiments).</td>
	</tr>
	<tr>
		<td><img src='images/explanations/parent_project.png' alt='' /></td>
		<td><input type='radio' name='type' value='2' /></td>
		<td><span class='bold'>parent/master project</span><br />A project which summerises different projects/experiments as subprojects under it.</td>
	</tr>
	<tr>
		<td><img src='images/explanations/sub_project.png' alt='' /></td>
		<td><input type='radio' name='type' value='3' /></td>
		<td><span class='bold'>sub-project</span><br />A (normal) project related to an parent-project (for experimental structure, e.g. timelines).</td>
	</tr>
	<tr>
		<td><img src='images/explanations/sub_parent_project.png' alt='' /></td>
		<td><input type='radio' name='type' value='4' /></td>
		<td><span class='bold'>sub-parent-project</span><br />A project which summerises different projects as subprojects related to an higher parent project.</td>
	</tr>
	<tr>
		<td colspan='3'><br />
			<div class='button_left'><input type='submit' value='previous' name='submitbutton' class='previous_button_disabled' disabled /></div>
			<div class='button_right'><input type='submit' value='next' name='submitbutton' class='next_button' /></div>
		</td>
	</tr>
</table>
</form>

<!-- CONTAINER END (0) -->