
<script>
$(document).ready(function()
{
	$("#AssistantPrevious").click(function(){
		assistant.load_previous_page(null);
	});
	$("#AssistantNext").click(function(){
		assistant.load_next_page(null);
	});
});
</script>

<br />
<table class='formTable'>
	<tr>
		<td>Project name:</td>
		<td>[[NAME]]</td>
	</tr>
	<tr>
		<td>Template:</td>
		<td>[[TEMPLATE]]</td>
	</tr>
	<tr>
		<td colspan='2'><br /></td>
	</tr>
	<tr>
		<td colspan='2'>Project Description:</td>
	</tr>
	<tr>
		<td colspan='2'>[[DESC]]</td>
	</tr>
	<tr>
		<td colspan='2'><div class='horzontalLineGrey'>&nbsp;</div></td>
	</tr>
</table>
<table class='formTable'>
	[[CONTENT]]			
	<tr>
		<td>
			<br />
			<div class='button_left'><button id='AssistantPrevious' class='AssistantButton'>previous</button></div>
			<div class='button_right'><button id='AssistantNext' class='AssistantButton'>next</button></div>
		</td>
	</tr>
</table>
</form>
<br />


