
<br />

<!-- CONTAINER BEGIN ("Create New Project (3/5)",0) -->

<form action='index.php?[[LINK]]' method='post'>
[[BAR]]
<br />
<table class='formTable'>
	<tr>
		<td>Template:</td>
	</tr>
	<tr>
		<td>
			<select name='template' class='ProjectCreateSelect' size='10' />
	
			<!-- FOREACH BEGIN ([[OPTION]]) -->
	
			<option value='[[OPTION:VALUE]]' [[OPTION:SELECTED]]>[[OPTION:CONTENT]]</option>
	
			<!-- FOREACH END -->			
				
			</select>
			<span class='formError'>[[ERROR]]</span>
		</td>
	</tr>
	<tr>
		<td><br />
			<div class='button_left'><input type='submit' value='previous' name='submitbutton' class='previous_button' /></div>
			<div class='button_right'><input type='submit' value='next' name='submitbutton' class='next_button' /></div>
		</td>
	</tr>
</table>				
</form>
<br />


<!-- CONTAINER END (0) -->