<script>
$(document).ready(function()
{
	function reload_menu()
	{
		$.ajax(
		{
			type: "POST",
			url: "ajax.php?session_id="+get_array['session_id']+"&nav=project&run=get_project_menu",
			data: 'get_array=[[GET_ARRAY]]',
			success: function(data)
			{		
				if (data)
				{
					$("#ProjectDetailMenu").hide().html(data).fadeIn("slow");

					$("#ProjectDetailProceedButton").click(function()
					{
						$.ajax(
						{
							type: "POST",
							url: "ajax.php?session_id="+get_array['session_id']+"&nav=project&run=get_project_proceed",
							data: 'get_array=[[GET_ARRAY]]',
							async: false,
							success: function(data)
							{
								if (data)
								{
									var data_array = data.split(":")
									$("#ProjectDetailProceed").html(data_array[1]);
									if (data_array[0] == "0")
									{
										
									}
									else
									{
										
									}
								}
							}
						});
						$("#ProjectDetailProceed").dialog("open");
						return false;
					});
				}
			}
		});
	}

	function reload_status()
	{
		$.ajax(
		{
			type: "POST",
			url: "ajax.php?session_id="+get_array['session_id']+"&nav=project&run=get_project_status_bar",
			data: 'get_array=[[GET_ARRAY]]',
			success: function(data)
			{		
				if (data)
				{
					$("#ProjectDetailStatus").hide().html(data).fadeIn("slow");
				}
			}
		});
	}

	reload_menu();
	reload_status();
	
	$("#ProjectDetailProceed").dialog(
	{
		autoOpen: false,
		height: 400,
		width: 400,
		buttons: 
		{
			"OK": function()
			{
				$.ajax(
				{
					type: "POST",
					url: "ajax.php?session_id="+get_array['session_id']+"&nav=project&run=proceed_project",
					data: 'get_array=[[GET_ARRAY]]',
					async: false,
					success: function(data)
					{		
						if (data)
						{
							$("#ProjectDetailStatus").fadeOut("slow");
							$("#ProjectDetailMenu").fadeOut("slow");
							reload_menu();
							reload_status();
						}
					}
				});
				$(this).dialog( "close" );
			},
			"Cancel": function()
			{
		          $(this).dialog( "close" );
			}
		}
	});
});
</script>

<div id="ProjectDetailProceed" title="Proceed with Project" style='display: none;'>
</div>

<br />

<!-- CONTAINER BEGIN ("Detail: [[TITLE]]","ProjectDetailGeneral", 49) -->

<table class='ProjectGeneralTable'>
	<tr>
		<td>Owner:</td>
		<td><a href='index.php?[[OWNER_PARAMS]]'>[[OWNER]]</a></td>
	</tr>
	<tr>
		<td>Created at:</td>
		<td>[[CREATED_AT]]</td>
	</tr>
	<tr>
		<td>Template:</td>
		<td>[[TEMPLATE]]</td>
	</tr>
	<tr>
		<td>Permissions:</td>
		<td>[[PERMISSIONS]]</td>
	</tr>
	<tr>
		<td>Size/Quota:</td>
		<td>[[SIZE]] / [[QUOTA]]</td>
	</tr>
</table>
		
<div class='horizontal_line'></div>

<br />
		
<div id='ProjectDetailStatus'>

</div>

<!-- CONTAINER END (49) -->


<!-- CONTAINER BEGIN ("I want to...","ProjectDetailMenu",49) -->

<div id='ProjectDetailMenu'>

</div>

<!-- CONTAINER END (49) -->