<br />

<!-- CONTAINER BEGIN ("Detail: [[TITLE]]","ProjectDetailGeneral", 49) -->

<table class='ProjectGeneralTable'>
	<tr>
		<td>Owner:</td>
		<td><a href='index.php?[[OWNER_PARAMS]]'>[[OWNER]]</a></td>
	</tr>
	<tr>
		<td>Created at:</td>
		<td>[[CREATED_AT]]</td>
	</tr>
	<tr>
		<td>Template:</td>
		<td>[[TEMPLATE]]</td>
	</tr>
	<tr>
		<td>Permissions:</td>
		<td>[[PERMISSIONS]]</td>
	</tr>
	<tr>
		<td>Size/Quota:</td>
		<td>[[SIZE]] / [[QUOTA]]</td>
	</tr>
</table>
		
<div class='horizontal_line'></div>

<br />
		
<table class='ProjectDetailStatusTable'>

	<!-- FOREACH BEGIN ([[STATUS]]) -->
	
	<tr[[STATUS:TR_CLASS]]>
		<td>[[STATUS:NAME]]</td>
		<td>[[STATUS:ICON]]</td>
	</tr>
	
	<!-- FOREACH END -->	
	
</table>

<!-- CONTAINER END (49) -->


<!-- CONTAINER BEGIN ("I want to...","ProjectDetailMenu",49) -->


	<!-- IF ([[PROCEED]] == 1) -->
	
		<a href='index.php?[[PROCEED_PARAMS]]' class='projectEasyButton'>
			<span class='projectEasyIcon'><img src='images/icons_30/proceed.png' alt='' border='0' /></span>
			<span class='projectEasyText'>proceed to [[NEXT_STATUS_NAME]]</span>
		</a>
	
	<!-- ELSEIF ([[PROCEED]] == 2) -->
	
		<a href='index.php?[[PROCEED_PARAMS]]' class='projectEasyButton'>
			<span class='projectEasyIcon'><img src='images/icons_30/proceed_na.png' alt='' border='0' /></span>
			<span class='projectEasyText'>proceed to [[NEXT_STATUS_NAME]]</span>
		</a>
		
	<!-- ELSEIF ([[PROCEED]] == 3) -->
	
		<a class='projectEasyButton'>
			<span class='projectEasyIcon'><img src='images/icons_30/proceed_na.png' alt='' border='0' /></span>
			<span class='projectEasyText'>project canceled</span>
		</a>
	
	<!-- ELSEIF ([[PROCEED]] == 4) -->
	
		<a class='projectEasyButton'>
			<span class='projectEasyIcon'><img src='images/icons_30/proceed_na.png' alt='' border='0' /></span>
			<span class='projectEasyText'>project finished</span>
		</a>
	
	<!-- ELSEIF ([[PROCEED]] == 5) -->
	
		<a href='index.php?[[PROCEED_PARAMS]]' class='projectEasyButton'>
			<span class='projectEasyIcon'><img src='images/icons_30/proceed_hold.png' alt='' border='0' /></span>
			<span class='projectEasyText'>proceed to [[NEXT_STATUS_NAME]] (blocked)</span>
		</a>
	
	<!-- ELSEIF ([[PROCEED]] == 6) -->
	
		<a href='index.php?[[PROCEED_PARAMS]]' class='projectEasyButton'>
			<span class='projectEasyIcon'><img src='images/icons_30/proceed_na.png' alt='' border='0' /></span>
			<span class='projectEasyText'>proceed to [[NEXT_STATUS_NAME]] (blocked)</span>
		</a>
	
	<!-- ELSE -->
	
		<a class='projectEasyButton'>
			<span class='projectEasyIcon'><img src='images/icons_30/proceed_na.png' alt='' border='0' /></span>
			<span class='projectEasyText'>proceed to [[NEXT_STATUS_NAME]]</span>
		</a>
	
	<!-- ENDIF -->

	<div class='horizontal_line'></div>

	<!-- FOREACH BEGIN ([[STATUS_ACTION]]) -->
	
		<!-- IF ([[STATUS_ACTION:STATUS]] == 1) -->
	
			<a href='index.php?[[STATUS_ACTION:PARAMS]]' class='projectEasyButton'>
				<span class='projectEasyIcon'><img src='images/icons_30/add.png' alt='' border='0' /></span>
				<span class='projectEasyText'>[[STATUS_ACTION:NAME]]</span>
			</a>
		
		<!-- ELSEIF ([[STATUS_ACTION:STATUS]] == 2) -->
		
			<a href='index.php?[[STATUS_ACTION:PARAMS]]' class='projectEasyButton'>
				<span class='projectEasyIcon'><img src='images/icons_30/add_done.png' alt='' border='0' /></span>
				<span class='projectEasyText'>[[STATUS_ACTION:NAME]]</span>
			</a>
		
		<!-- ELSE -->
		
			<a class='projectEasyButton'>
				<span class='projectEasyIcon'><img src='images/icons_30/add_done_na.png' alt='' border='0' /></span>
				<span class='projectEasyText'>[[STATUS_ACTION:NAME]]</span>
			</a>
					
		<!-- ENDIF -->
	
	<!-- FOREACH END -->	


<div class='horizontal_line'></div>

<!-- IF ([[WRITE]] == 1) -->

	<a href='index.php?[[SUPPLEMENTARY_PARAMS]]' class='projectEasyButton'>
		<span class='projectEasyIcon'><img src='images/icons_30/add.png' alt='' border='0' /></span>
		<span class='projectEasyText'>add a supplementary file</span>
	</a>
				
	<a href='index.php?[[LOG_PARAMS]]' class='projectEasyButton'>
		<span class='projectEasyIcon'><img src='images/icons_30/add.png' alt='' border='0' /></span>
		<span class='projectEasyText'>add a comment to log</span>
	</a>
					
	<div class='horizontal_line'></div>
				
	<a href='index.php?[[ADD_TASK_PARAMS]]' class='projectEasyButton'>
		<span class='projectEasyIcon'><img src='images/icons_30/add_limit.png' alt='' border='0' /></span>
		<span class='projectEasyText'>add a task</span>
	</a>

<!-- ELSE -->

	<a class='projectEasyButton'>
		<span class='projectEasyIcon'><img src='images/icons_30/add_na.png' alt='' border='0' /></span>
		<span class='projectEasyText'>add a supplementary file</span>
	</a>
				
	<a class='projectEasyButton'>
		<span class='projectEasyIcon'><img src='images/icons_30/add_na.png' alt='' border='0' /></span>
		<span class='projectEasyText'>add a comment to log</span>
	</a>
					
	<div class='horizontal_line'></div>
				
	<a class='projectEasyButton'>
		<span class='projectEasyIcon'><img src='images/icons_30/add_limit_na.png' alt='' border='0' /></span>
		<span class='projectEasyText'>add a task</span>
	</a>
	
<!-- ENDIF -->
					
<a href='index.php?[[SHOW_TASKS_PARAMS]]' class='projectEasyButton'>
	<span class='projectEasyIcon'><img src='images/icons_30/time.png' alt='' border='0' /></span>
	<span class='projectEasyText'>show the tasks</span>
</a>
			
<div class='horizontal_line'></div>

<!-- IF ([[WRITE]] == 1) -->
			
	<a href='index.php?[[ADD_SUBPROJECT_PARAMS]]' class='projectEasyButton'>
		<span class='projectEasyIcon'><img src='images/icons_30/add.png' alt='' border='0' /></span>
		<span class='projectEasyText'>add a sub-project</span>
	</a>
	
<!-- ELSE -->	

	<a class='projectEasyButton'>
		<span class='projectEasyIcon'><img src='images/icons_30/add_na.png' alt='' border='0' /></span>
		<span class='projectEasyText'>add a sub-project</span>
	</a>
	
<!-- ENDIF -->

<!-- CONTAINER END (49) -->