<br />

<!-- CONTAINER BEGIN ("Proceed to next status") -->

<form action='index.php?[[PARAMS]]' method='post' onSubmit='return submitForm(this.submitbutton)'>
<br />
<table class='formTable'>	
	<tr>
		<td>Comment:</td>
	</tr>
	<tr>
		<td>
			<textarea name='comment' cols='66' rows='15' class='FormTextarea'>[[TEXTAREA_CONTENT]]</textarea>
			<span class='formError'>[[ERROR]]</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class='button_right'><input type='submit' value='Next' name='submitbutton' class='FormButton' /></div>
		</td>
	</tr>
</table>
<input type='hidden' name='add_comment' value='1' />
</form>
<br />

<!-- CONTAINER END () -->
