
<br />

<!-- CONTAINER BEGIN ("Create New Project (2/5)",0) -->

<form action='index.php?{LINK}' method='post'>
{BAR}
<br />
<table class='formTable'>
	<tr>
		<td>Project name:</td>
		<td>
			<input name='name' value='{NAME}' type='text' size='30' class='FormTextfield' />
			<span class='formError'>{ERROR0}</span>
		</td>
	</tr>
	<tr>
		<td colspan='2'><img src='images/icons/info.png' alt='info' /><span class='smallTextBlack'> Enter a significant project name (e.g. P. marcidus infection w. M. marinum).</span><br /><br /></td>
	</tr>
	<tr>
		<td colspan='2'>Project Description</td>
	</tr>
	<tr>
		<td colspan='2'><span class='smallTextBlack'>formatting commands:&nbsp;[b]<span class='bold'>bold</span>[/b], [u]<span class='underline'>underline</span>[/u], [i]<span class='italic'>italic</span>[/i]</span></td>
	</tr>
	<tr>
		<td colspan='2'>
			<textarea name='desc' cols='66' rows='15' class='FormTextarea'>{DESC}</textarea>
			<span class='formError'>{ERROR1}</span>
		</td>
	</tr>
	
	<tr>
		<td colspan='2'><div class='horizontal_line'>&nbsp;</div></td>
	</tr>	
	<tr>
		<td colspan='2'><br />
			<div class='button_left'><input type='submit' value='previous' name='submitbutton' class='previous_button' /></div>
			<div class='button_right'><input type='submit' value='next' name='submitbutton' class='next_button' /></div>
		</td>
	</tr>
</table>
</form>
<br />


<!-- CONTAINER END (0) -->