<br />

<!-- CONTAINER BEGIN ("Create New Sample (4/5)",0) -->

<form action='index.php?{LINK}' method='post'>
{BAR}
<br />
	<table class='formTable'>
	<tr>
		<td colspan='2'>Select Parent Samples<br /><br /></td>
	</tr>
	
	<!-- FOREACH BEGIN ({SAMPLE}) -->
	
		<tr>
			<td width='30%'>{SAMPLE:ID}. Sample</td>
			<td>
				<select name='sample-{SAMPLE:ID}'>
				
				<!-- FOREACH BEGIN ({SAMPLE}) -->
				
					<option value='{SAMPLE:VALUE}' {SAMPLE:SELECTED}>{SAMPLE:CONTENT}</option>
				
				<!-- FOREACH END -->				
				
				</select>
			</td>
		</tr>
			
	<!-- FOREACH END -->
	
	<tr>
		<td colspan='2'><br />
			<div class='button_left'><input type='submit' value='previous' name='submitbutton' class='previous_button' /></div>
			<div class='button_right'><input type='submit' value='next' name='submitbutton' class='next_button' /></div>
		</td>
	</tr>
</table>
<input type='hidden' name='template_data_type' value='sample' />
</form>


<!-- CONTAINER END (0) -->