<br />

<!-- CONTAINER BEGIN ("Proceed to next status",0) -->

<form action='index.php?{PARAMS}' method='post' onSubmit='return submitForm(this.submitbutton)'>
<table class='formTable'>
	<tr>
		<td>
		
			<table width='40%'>
				<tr>
					<td><span class='underline'>required action</span></td>
					<td><span class='underline'>status</span></td>
				</tr>
				
				<!-- FOREACH BEGIN (STATUS_ACTION) -->
				
					<!-- IF ({STATUS_ACTION:STATUS} == 1) -->					
						<tr>
							<td>{STATUS_ACTION:NAME}</td>
							<td><img src='images/icons/status_cancel.png' alt='X' /></td>
						</tr>
					<!-- ELSEIF ({STATUS_ACTION:STATUS} == 2) -->
						<tr>
							<td>{STATUS_ACTION:NAME}</td>
							<td><img src='images/icons/notice.png' alt='X' /></td>
						</tr>
					<!-- ELSE -->
						<tr>
							<td>{STATUS_ACTION:NAME}</td>
							<td><img src='images/icons/status_ok.png' alt='V' /></td>
						</tr>
					<!-- ENDIF -->
			
				<!-- FOREACH END -->
										
			</table>
			
		</td>
	</tr>
						
						
	<tr>
		<td><br /><hr class='ProjectOptionsTableHr' /></td>
	</tr>
	<tr>
	
		<!-- IF ({ENABLE_ADD_COMMENT}) -->
	
			<td>Add optional comment <input type='checkbox' name='add_comment' class='FormCheck' value='1' /></span></td>
	
		<!-- ELSE -->
		
			<td><span class='OptionsFontDeactivated'>Add optional comment</span> <input type='checkbox' name='addcomment' class='FormCheck' value='1' disabled /></span></td>
		
		<!-- ENDIF -->
	
	</tr>
	<tr>
		<td><hr class='ProjectOptionsTableHr' /></td>
	</tr>
	<tr>
		<td><br /><input type='hidden' name='action_checksum' value='$checksum' />
		
		<!-- IF ({ENABLE_BUTTON}) -->
		
			<div class='button_right'><input type='submit' value='next step' class='FormButton' name='submitbutton' /></div>
		
		<!-- ELSE -->
		
			<div class='button_right'><input type='submit' value='next step' class='FormButton' disabled />
			<br />
			<span class='smallTextBlack'>{BUTTON_COMMENT}</span>
			</div>
		
		<!-- ENDIF -->
		
		</td>
	</tr>
						
</table>
</form>

<!-- CONTAINER END (0) -->