<br />

<!-- CONTAINER BEGIN ("Project Log",0) -->

<!-- FOREACH BEGIN ({LOG_ARRAY}) -->

	<table class='ProjectLogListTable'>
		<tr>
			<td>Date/Time: {LOG_ARRAY:DATETIME}
				<!-- IF ({LOG_ARRAY:IMPORTANT}) -->
					&nbsp;<img src='images/icons/notice.png' alt='Important' /> 
				<!-- ENDIF -->
			</td>
			<td><div style='text-align: right;'>User: {LOG_ARRAY:USER}</div></td>
		</tr>
								
		<!-- IF ({LOG_ARRAY:CONTENT}) -->
		
			<tr>
				<td colspan='2'>Comment:</td>
			</tr>
			<tr>
				<td colspan='2'>{LOG_ARRAY:CONTENT}</td>
			</tr>
		
		<!-- ENDIF -->	
	
		<!-- IF ({LOG_ARRAY:STATUS}) -->
	
			<tr>
				<td colspan='2'>Set Status to: {LOG_ARRAY:STATUS}</td>
			</tr>
		
		<!-- ENDIF -->	
		
		<!-- IF ({LOG_ARRAY:ITEMS}) -->
	
			<tr>
				<td colspan='2'>Attached {LOG_ARRAY:ITEMS} Item(s)</td>
			</tr>
		
		<!-- ENDIF -->								
							
	</table>
	
	<div class='button_right'><a href='index.php?{LOG_ARRAY:DETAIL_PARAMS}'>Details</a></div>	
	
	<div class='horizontal_line'></div>

<!-- FOREACH END -->

<!-- IF ({NO_LOG}) -->

<span class='italic'>No Log-Entries Found!</span>

<!-- ENDIF -->	

{PAGE_BAR}

<!-- CONTAINER END (0) -->