<br />

<!-- CONTAINER BEGIN ("Search",0) -->

<br />
<div class='SearchContainer'>
<form action='index.php?[[PARAMS]]' method='post''>
<div class='center'><span class='bold'>File/Folder/Value Search</span></div>
<br />
<br />
<table class='SearchTable'>
	<tr>
		<td colspan='2'>
			<input type='text' name='name' size='47' class='FormTextfield' />
			<span class='formError'>[[ERROR]]</span>
		</td>
	</tr>
	<tr>
		<td colspan='2'><div class='center'><span class='smallTextBlack'>use * as a wildcard character</span></div></td>
	</tr>
	<tr>
		<td colspan='2'><br />Folder</td>
	</tr>
	<tr>
		<td>
	
			<script type="text/javascript">
				treeFolderInit(2);
			</script>
			
			<ul id="tree_menu_2" class="tree_menu">
				<li id='tree_menu_no_js'>Your browser does not support JavaScript</li>
			</ul>
	
		</td>
	</tr>
	<tr>
		<td colspan='2'><br /><input type='submit' value='Search' class='FormButton' /></td>
	</tr>
</table>
<br />
</form>
</div>
					
<!-- CONTAINER END (0) -->