<div id='InstallContainer'>
	<div id='InstallGlobal'>
		<table id='InstallGlobalTable'>
			<tr>
				<td>Global Product Version:</td>
				<td>[[VERSION]]</td>
			</tr>
		</table>
	</div>
	<br />
	<table id='InstallTable'>
		<tr>
			<th>Module</th>
			<th>Installed DB-Version</th>
			<th>Available DB-Version</th>
			<th>File-Version</th>
			<th>Status</th>
		</tr>
		
		<!-- FOREACH BEGIN ([[MODULES]]) -->
		
		<tr>
			<td>[[MODULES:NAME]]</td>
			<td>[[MODULES:IV]]</td>
			<td>[[MODULES:AV]]</td>
			<td>[[MODULES:FV]]</td>
			<td>[[MODULES:STATUS]]</td>
		</tr>
		
		<!-- FOREACH END -->
	
	</table>
	<br />
	<input type='checkbox' checked='checked' /> Install Default Templates<br />
	<input type='checkbox' disabled='disabled' /><span class='DisabledText'> Install Example Data</span><br />
	<br />
	<button id='InstallStart' [[BUTTON_DISABLED]]>[[BUTTON]]</button>
</div>