<!-- CONTAINER BEGIN ("Image Browser") -->
	
<div class='boxIconBar'>

	<div class='boxIconElement'><img src='images/icons/image_browser_multi.png' alt='' />&nbsp;<a href='index.php?[[MULTI_PARAMS]]'>Multi View</a></div>
		
	<div class='boxIconElement'><img src='images/icons/image_browser_detail.png' alt='' />&nbsp;<a href='index.php?[[DETAIL_PARAMS]]'>Detail View</a></div>
	
	<div class='boxIconClear'></div>
	
</div>

<br />
			
<table class='ImageBrowserMultiTable'>
	<tr>
	
	<!-- FOREACH BEGIN ([[CONTENT_ARRAY]]) -->
	
		<!-- IF ([[CONTENT_ARRAY:DISPLAY_IMAGE]]) -->
		
			<td>
				<div class='ImageBrowserMultiDiv'>
					<div class='ImageBrowserMultiImage'>
						<a href='index.php?[[CONTENT_ARRAY:IMAGE_CLICK_PARAMS]]'>
							<img src='image.php?[[CONTENT_ARRAY:IMAGE_PARAMS]]' alt='' border='0' />
						</a>
					</div>
					<div class='ImageBrowserMultiInfo'>
					[[CONTENT_ARRAY:NAME]]; Version: [[CONTENT_ARRAY:VERSION]]
					</div>
				</div>
			</td>
	
		<!-- ELSE -->
	
			<td></td>
	
		<!-- ENDIF -->
	
		<!-- IF ([[CONTENT_ARRAY:DISPLAY_TR]]) -->
		
			</tr><tr>
	
		<!-- ENDIF -->
		
	<!-- FOREACH END -->
	
	</tr>
</table>

[[PAGE_BAR]]
			
<!-- CONTAINER END () -->
