<!-- CONTAINER BEGIN ("[[TITLE]]") -->

<div class='boxIconBar'>

	<div class='DataBrowserMenuItem' id='DataBrowserMenuAdd'><img src='images/icons/add.png' alt='' class='DataBrowserMenuImage'/>&nbsp;<span>Add</span></div>
	<div class='DataBrowserMenuItem' id='DataBrowserMenuImageBrowser'><img src='images/icons/images.png' alt='' class='DataBrowserMenuImage'/>&nbsp;<span>Image Browser</span></div>			
	<div class='DataBrowserMenuItem' id='DataBrowserMenuHomeFolder'><img src='images/icons/folder_home.png' alt='' class='DataBrowserMenuImage'/>&nbsp;<span>Home Folder</span></div>
</div>

[[LIST]]

<script language="javascript">var data_browser = new data_browser();</script>

<!-- CONTAINER END () --> 

