<!-- CONTAINER BEGIN ("[[TITLE]]") -->

<div id='ListButtonBar'>

	<a id='DataBrowserMenuAdd' class='ListButton'>
	<img src='images/icons/add.png' alt='' />
	<div>Add</div>
	<div>#</div>
	</a>
	
	<a id='DataBrowserMenuImageBrowser' class='ListButton'>
	<img src='images/icons/images.png' alt='' />
	<div>Image Browser</div>
	</a>
	
	<a id='DataBrowserMenuHomeFolder' class='ListButton'>
	<img src='images/icons/folder_home.png' alt='' />
	<div>Home Folder</div>
	
	</a>
</div>
<div id='ListButtonBarClear'></div>

[[LIST]]

<script language="javascript">var data_browser = new data_browser();</script>

<!-- CONTAINER END () --> 

