<script type="text/javascript">
/*<![CDATA[*/
$(document).ready(function()
{
	data_parameter = new DataParameter();
	data_parameter.init_parameter("[[SESSION_ID]]", "[[TYPE_ID]]", "[[THOUSAND_SEPARATOR]]", "[[DECIMAL_SEPARATOR]]");	
	
	$("#DataParameterCancelButton").click(function()
	{
		window.setTimeout('window.location = \'[[RETRACE]]\'',1);
	});
	
	$("#DataParameterSaveButton").click(function()
	{
		var json_object = data_parameter.get_parameter_value_object();
		
		var limit = $(".DataParameterLimit option:selected").val();
		
		var json = JSON.stringify(json_object);
				
		if (json !== false)
		{
			$.ajax({
				type : "POST",
				url : "ajax.php?session_id=[[SESSION_ID]]&nav=data&run=parameter_add_as_item",
				data : 'folder_id=[[FOLDER_ID]]&type_id=[[TYPE_ID]]&limit_id='+limit+'&parameter_array='+json+'&get_array=[[GET_ARRAY]]',
				beforeSend: function()
				{
					$("#DataParameterAddFinish").dialog("open");
				},
				success : function(data)
				{
					if (data == "1")
					{
						window.setTimeout('window.location = \'[[RETRACE]]\'',500);
					}
					else
					{						
						if ((data + '').indexOf("EXCEPTION",0) == 0)
						{
							var exception_message = data.replace("EXCEPTION: ","");
							$("#DataParameterAddFinish").dialog("close");
							ErrorDialog("Error", exception_message);
							return false;
						}
						else
						{
							$("#DataParameterAddFinish").dialog("close");
							ErrorDialog("Error", "An error occured");
							return false;
						}
					}
				}
			});
		}
	});
});
/*]]>*/ 
</script>

<div class="BasePlaseWaitWindow" id="DataParameterAddFinish" title=""> 
<div><img src='images/animations/loading_circle_small.gif' alt=''> Please wait while parameter creation.</div>
</div> 

<!-- CONTAINER BEGIN ("Add Parameter") -->

<div class='Form'>

<div class='FormBox'>
<div class='FormBoxHeadline'>Limit</div>
	<select name='limit' class='DataParameterLimit'>
	<!-- FOREACH BEGIN ([[LIMITS]]) -->
		<option value='[[LIMITS:VALUE]]' [[LIMITS:SELECTED]]>[[LIMITS:CONTENT]]</option>
	<!-- FOREACH END -->
	</select>
</div>

<div class='FormBoxWithoutLRPadding'>
<div class='FormBoxHeadlineWithoutLRPadding'>[[NAME]]</div>

<table style='width: 100%; text-align: left;' class='DataParameterTable'>
	<thead>
		<tr>
			<th>Parameter</th>
			<th>Value</th>
			<th>Unit</th>
			<th>Min (LSL)</th>
			<th>Max (USL)</th>
			<th>Method</th>
			<th>Status</th>
		<tr>
	</thead>
	<tbody>			
		<!-- FOREACH BEGIN ([[FIELDS]]) -->
		
			<tr class='[[FIELDS:CLASS]] DataParameterValue' id='DataParameterValue[[FIELDS:PK]]'>
				<td>[[FIELDS:NAME]]</td>
				<td><input type='text' name='value' value='' /></td>
				<td>[[FIELDS:UNIT]]</td>
				<td class='DataParameterValueLSL'>[[FIELDS:LSL]]</td>
				<td class='DataParameterValueUSL'>[[FIELDS:USL]]</td>
				<td>
					<select name='method'>
					<!-- FOREACH BEGIN ([[FIELDS]]) -->
						<option value='[[FIELDS:VALUE]]'>[[FIELDS:CONTENT]]</option>
					<!-- FOREACH END -->
					</select>
				</td>
				<td id='DataParameterValueStatus[[FIELDS:PK]]'></td>
			</tr>
		
		<!-- FOREACH END -->
	</tbody>
</table>

</div>

<div class='FormButtonBox'>
<button type='submit' id='DataParameterSaveButton' class='DataParameterSaveButton'>[[LANG:BaseGlobalButtonSave]]</button>
<button type='submit' id='DataParameterCancelButton'>[[LANG:BaseGlobalButtonCancel]]</button>
<div class='FormButtonBoxClear'></div>
</div>
</div>


<!-- CONTAINER END () -->
		