<script>

$(document).ready(function()
{
	value_handler = new ValueHandler("DataValueAddValues");
	
	$("#DataValueCancelButton").click(function()
	{
		window.setTimeout('window.location = \'[[RETRACE]]\'',1);
	});
		
	$("#DataValueAddButton").click(function()
	{
		var json = value_handler.get_json();

		if (json !== false)
		{
			$.ajax({
				type : "POST",
				url : "ajax.php?session_id=[[SESSION_ID]]&nav=data&run=value_add_as_item",
				data : 'folder_id=[[FOLDER_ID]]&type_id=[[TYPE_ID]]&value_array='+json+'&get_array=[[GET_ARRAY]]',
				beforeSend: function()
				{
					$.blockUI({ message: $('#DataValueAddFinish') , css: { width: '275px' }} ); 
					$('.blockUI.blockMsg').center();
				},
				success : function(data)
				{
					if (data == "1")
					{
						window.setTimeout('window.location = \'[[RETRACE]]\'',500);
					}
					else
					{						
						if ((data + '').indexOf("EXCEPTION",0) == 0)
						{
							var exception_message = data.replace("EXCEPTION: ","");
							$.unblockUI();
							ErrorDialog("Error", exception_message);
							return false;
						}
						else
						{
							$.unblockUI();
							ErrorDialog("Error", "An error occured");
							return false;
						}
					}
				}
			});
		}
	});
});
</script>

<div id="DataValueAddFinish" class="BaseBlockUIProceed" style="display:none; cursor: default"> 
<img src='images/animations/loading_circle_small.gif' alt=''> Please wait while value creation.
</div> 

<!-- CONTAINER BEGIN ("Add Value") -->

<div class='Form' id='DataValueAdd'>
<div class='FormBox'>
<div class='FormBoxHeadline'>[[TITLE]]</div>

[[VALUE]]

<input type='hidden' name='type_id' value='[[TYPE_ID]]' />
<input type='hidden' value='[[DESCRIPTION]]' name='description' />
<input type='hidden' value='[[KEYWORDS]]' name='keywords' />

<div class='FormBoxClear'></div>
</div>


<div class='FormButtonBox'>
<button type='submit' id='DataValueAddButton'>Save</button>
<button type='submit' id='DataValueCancelButton'>Cancel</button>
<div class='FormButtonBoxClear'></div>
</div>
</div>

<script language='javascript'>
var auto_field = new autofield('[[AUTOFIELD_STRING]]', 'DataValueAddValues');
</script>

<!-- CONTAINER END () -->
		