
<script>
$(document).ready(function()
{
	function check_form()
	{
		if (($(".ProjectCreateAssistantField[name='project_template'] option").is(":selected")) && ($(".ProjectCreateAssistantField[name='project_template'] option:selected").attr("value") != "0"))
		{
			return true;
		}
		else
		{
			$("#ProjectCreateError1").html("<br />You have to select a template.");
			return false;
		}
	}
	$("#AssistantPrevious").click(function()
	{
		if (check_form() == true)
		{
			assistant.load_previous_page();
		}
	});
	$("#AssistantNext").click(function()
	{
		if (check_form() == true)
		{
			assistant.load_next_page();
		}
	});
});
</script>

<br />
<table class='Form FormCenterBox70'>
	<tr>
		<td>Template:</td>
	</tr>
	<tr>
		<td>
			<select name='project_template' class='FormSelect ProjectCreateAssistantField' size='10'>
	
			<!-- FOREACH BEGIN ([[OPTION]]) -->
	
			<option value='[[OPTION:VALUE]]' [[OPTION:SELECTED]] [[OPTION:DISABLED]]>[[OPTION:CONTENT]]</option>
	
			<!-- FOREACH END -->			
				
			</select>
			<span class='FormError' id='ProjectCreateError1'></span>
		</td>
	</tr>
	<tr>
		<td>
			<br />
			<div class='button_left'><button id='AssistantPrevious' class='Button'>previous</button></div>
			<div class='button_right'><button id='AssistantNext' class='Button'>next</button></div>
		</td>
	</tr>
</table>				
<br />
