<script>
$(document).ready(function()
{
	$( "#AssistantError" ).dialog(
	{
		autoOpen: false,
		buttons: 
		{
			"OK": function()
			{
                  $( this ).dialog( "close" );
			}
		}
	});
	$("#AssistantPrevious").click(function()
	{
		assistant.load_previous_page();
	});
	$("#AssistantNext").click(function()
	{
		assistant.load_next_page();
	});
});
</script>

<div class="BasePlaseWaitWindow" id="AssistantFinish" title=""> 
<div><img src='images/animations/loading_circle_small.gif' alt=''> [[LANG:BaseGlobalMessageWait]]</div>
</div> 

<br />
<table class='Form FormCenterBox70'>
	<tr>
		<td>[[LANG:ProjectCreatePage5Name]]:</td>
		<td>[[PROJECT_NAME]]</td>
	</tr>
	<tr>
		<td>[[LANG:ProjectCreatePage5Template]]:</td>
		<td>[[PROJECT_TEMPLATE]]</td>
	</tr>
	<tr>
		<td colspan='2'><br /></td>
	</tr>
	<tr>
		<td colspan='2'>[[LANG:ProjectCreatePage5Description]]:</td>
	</tr>
	<tr>
		<td colspan='2'>[[PROJECT_DESCRIPTION]]</td>
	</tr>
	<tr>
		<td colspan='2'><div class='horzontalLineGrey'>&nbsp;</div></td>
	</tr>
</table>
<table class='formTable'>
	[[CONTENT]]			
	<tr>
		<td>
			<br />
			<div class='button_left'><button id='AssistantPrevious' class='Button'>[[LANG:BaseGlobalButtonPrevious]]</button></div>
			<div class='button_right'><button id='AssistantNext' class='Button'>[[LANG:BaseGlobalButtonNext]]</button></div>
		</td>
	</tr>
</table>
</form>
<br />


