<script>
$(document).ready(function()
{
	$("#AssistantNext").click(function()
	{
		assistant.load_next_page();
	});
});
</script>

<br />
<div class='center'><span class='bold'>[[LANG:ProjectCreatePage0IWantTo]]</span></div>
<br />
<br />
<table class='ProjectCreateIWantTo'>
	<tr>
		<td><img src='images/explanations/project.png' alt='' /></td>
		<td><input type='radio' name='project_type' value='1' class='ProjectCreateAssistantField' checked='checked' /></td>
		<td><span class='bold'>[[LANG:ProjectCreatePage0NormalProject]]</span><br />[[LANG:ProjectCreatePage0NormalProjectDesc]]</td>
	</tr>
	<tr>
		<td><img src='images/explanations/parent_project.png' alt='' /></td>
		<td><input type='radio' name='project_type' value='2' class='ProjectCreateAssistantField' /></td>
		<td><span class='bold'>[[LANG:ProjectCreatePage0ParentProject]]</span><br />[[LANG:ProjectCreatePage0ParentProjectDesc]]</td>
	</tr>
	<tr>
		<td><img src='images/explanations/sub_project.png' alt='' /></td>
		<td><input type='radio' name='project_type' value='3' class='ProjectCreateAssistantField' /></td>
		<td><span class='bold'>[[LANG:ProjectCreatePage0SubProject]]</span><br />[[LANG:ProjectCreatePage0SubProjectDesc]]</td>
	</tr>
	<tr>
		<td><img src='images/explanations/sub_parent_project.png' alt='' /></td>
		<td><input type='radio' name='project_type' value='4' class='ProjectCreateAssistantField' /></td>
		<td><span class='bold'>[[LANG:ProjectCreatePage0SubParentProject]]</span><br />[[LANG:ProjectCreatePage0SubParentProjectDesc]]</td>
	</tr>
	<tr>
		<td colspan='3'>
			<br />
			<div class='button_left'><button class='ButtonDisabled' disabled='disabled'>[[LANG:BaseGlobalButtonPrevious]]</button></div>
			<div class='button_right'><button id='AssistantNext' class='Button'>[[LANG:BaseGlobalButtonNext]]</button></div>
		</td>
	</tr>
</table>