

<!-- IF ([[ORGANUNIT]]) -->

<script>
$(document).ready(function()
{
	$("#AssistantNext").click(function()
	{
		if ($(".ProjectCreateAssistantField[name='project_organisation_unit'] option").is(":selected") && $(".ProjectCreateAssistantField[name='project_organisation_unit'] option").val() != "0")
		{
			assistant.load_next_page();
		}
		else
		{
			$("#ProjectCreateError1").html("<br />You have to select an Organisation Unit.");
		}
	});
});
</script>

<br />
<table class='formTable'>
	<tr>
		<td><span class='bold'>Select the Organisation Unit:</span></td>
	</tr>
	<tr>
		<td>
			<select name='project_organisation_unit' class='FormSelect ProjectCreateAssistantField' size='10'>
	
			<!-- FOREACH BEGIN ([[OPTION]]) -->
	
			<option value='[[OPTION:VALUE]]' [[OPTION:SELECTED]] [[OPTION:DISABLED]]>[[OPTION:CONTENT]]</option>
	
			<!-- FOREACH END -->
	
			</select>
		<span class='FormError' id='ProjectCreateError1'></span>
		</td>
	</tr>
	<tr>
		<td>
			<br />
			<div class='button_left'><button id='AssistantPrevious' class='AssistantButtonDisabled' disabled='disabled'>previous</button></div>
			<div class='button_right'><button id='AssistantNext' class='AssistantButton'>next</button></div>
		</td>
	</tr>
</table>
<br />


<!-- ELSE -->

<script>
$(document).ready(function()
{
	$("#AssistantNext").click(function()
	{
		if ($(".ProjectCreateAssistantField[name='project_toid'] option").is(":selected")  && $(".ProjectCreateAssistantField[name='project_toid'] option").val() != "0")
		{
			assistant.load_next_page();
		}
		else
		{
			$("#ProjectCreateError1").html("<br />You have to select a Parent Project.");
		}
	});
});
</script>

<br />
<table class='formTable'>
	<tr>
		<td><span class='bold'>Select the Parent-Project:</span></td>
	</tr>
	<tr>
		<td>
			<select name='project_toid' class='FormSelect ProjectCreateAssistantField' size='10'>
	
			<!-- FOREACH BEGIN ([[OPTION]]) -->
	
			<option value='[[OPTION:VALUE]]' [[OPTION:SELECTED]] [[OPTION:DISABLED]]>[[OPTION:CONTENT]]</option>
	
			<!-- FOREACH END -->
	
			</select>
			<span class='FormError' id='ProjectCreateError1'></span>
		</td>
	</tr>
	<tr>
		<td>
			<br />
			<div class='button_left'><button id='AssistantPrevious' class='AssistantButtonDisabled' disabled='disabled'>previous</button></div>
			<div class='button_right'><button id='AssistantNext' class='AssistantButton'>next</button></div>
		</td>
	</tr>
</table>
<br />

<!-- ENDIF -->

