
<div class='CalendarHead'>
	<a href='index.php?[[PREVIOUS_PARAMS]]'><img src='images/icons/previous.png' alt='' border='0' /></a>
	[[WEEK]]. week of [[YEAR]]
	<a href='index.php?[[NEXT_PARAMS]]'><img src='images/icons/next.png' alt='' border='0' /></a>
</div>
<br />
		
<table class='CalendarWeekTable'>

<!-- FOREACH BEGIN ([[CONTENT_ARRAY]]) -->
	
	<tr[[CONTENT_ARRAY:TR_CLASS]]>
	
	<!-- IF ([[CONTENT_ARRAY:HEAD]]) -->
	
		<!-- FOREACH BEGIN ([[CONTENT_ARRAY]]) -->
		
			<th>[[CONTENT_ARRAY:CONTENT]]</th>
		
		<!-- FOREACH END -->
	
	<!-- ELSE -->
	
		<!-- FOREACH BEGIN ([[CONTENT_ARRAY]]) -->
			
			<td>
			
				<!-- FOREACH BEGIN ([[CONTENT_ARRAY]]) -->
			
					<img src='core/images/cal_day_bar.php?length=8&height=30&value=[[CONTENT_ARRAY:VALUE]]' alt='' class='CalendarDayDateImage' />
				
				<!-- FOREACH END -->
				
				<span class='smallTextBlack'>[[CONTENT_ARRAY:CONTENT]]</span>
				
			</td>
			
		<!-- FOREACH END -->
	
	<!-- ENDIF -->
	
	</tr>
	
<!-- FOREACH END -->

</table>