<br />

<!-- CONTAINER BEGIN ("Administration",0) -->

<div class='AdminHomeBox'>
<img src='images/icons/system.png' alt=''>&nbsp;<span class='bold'>System</span>

<table width='100%'>
	<tr>
		<td width='30%'>Base Directory</td>
		<td>{BASE_DIR}</td>
	</tr>
	<tr>
		<td width='30%'>System Space</td>
		<td>{SYSTEM_SPACE}</td>
	</tr>
	<tr>
		<td>Used Space (by Users)</td>
		<td>{USER_USED_SPACE}</td>
	</tr>
	<tr>
		<td>Used Space (by Projects)</td>
		<td>{PROJECT_USED_SPACE}</td>
	</tr>
	<tr>
		<td>Used Space (by Database)</td>
		<td>{DB_USED_SPACE}</td>
	</tr>
	<tr>
		<td>Free Space</td>
		<td>{FREE_SPACE}</td>
	</tr>
</table>
	

</div>

<div class='AdminHomeBox'>
<img src='images/icons/users.png' alt=''>&nbsp;<span class='bold'>Users</span> (<a href=''>Add</a>)

<table width='100%'>
	<tr>
		<td width='30%'>Amount</td>
		<td>{USER_AMOUNT}</td>
	</tr>
	<tr>
		<td>Administrators</td>
		<td>{USER_ADMINISTRATORS}</td>
	</tr>
</table>

</div>


<div class='AdminHomeBox'>
<img src='images/icons/groups.png' alt=''>&nbsp;<span class='bold'>Groups</span> (<a href=''>Add</a>)

<table width='100%'>
	<tr>
		<td width='30%'>Amount</td>
		<td>{GROUP_AMOUNT}</td>
	</tr>
</table>

</div>

<div class='AdminHomeBox'>
<img src='images/icons/organisation_unit.png' alt=''>&nbsp;<span class='bold'>Organisation Units</span> (<a href=''>Add</a>)

<table width='100%'>
	<tr>
		<td width='30%'>Amount</td>
		<td>{OU_AMOUNT}</td>
	</tr>
</table>

</div>

<!-- CONTAINER END (0) -->	