
<br />

<!-- CONTAINER BEGIN ("Cancel Project",0) -->

<br />
<form action='index.php?[[PARAMS]]' method='post'>
<table class='formTable'>
	<tr>
		<td><span class='bold'>Notice:</span></td>
	</tr>
	<tr>
		<td><br /></td>
	</tr>
	<tr>
		<td>Enter Reason:</td>
	</tr>
	<tr>
		<td><textarea name='reason' cols='66' rows='15' class='FormTextarea'>[[REASON]]</textarea></td>
	</tr>
	<tr>
		<td><span class='formError'>[[ERROR]]</span></td>
	</tr>
	<tr>
		<td><div class='horizontal_line'>&nbsp;</div></td>
	</tr>	
	<tr>
		<td><br />
			<div class='button_right'><input type='submit' value='next' name='submitbutton' class='next_button' /></div>
		</td>
	</tr>
</table>
</form>

<!-- CONTAINER END (0) -->