<br />

<!-- CONTAINER BEGIN ("Move Project",0) -->

<div class='ProjectReorgaContainer'>
<br />
<form action='index.php?[[PARAMS]]' method='post'>
	<table class='ProjectReorgaTable'>
		<tr>
			<td>Select the type of the new parent</td>
		</tr>
		<tr>
			<td><input type='radio' class='FormRadio' name='type' value='1' />&nbsp;organisation Unit</td>
		</tr>
		<tr>
			<td><input type='radio' class='FormRadio' name='type' value='2' />&nbsp;project</td>
		</tr>
		<tr>
			<td><span class='formError'>[[ERROR]]</span></td>
		</tr>
		<tr>
			<td>
				<div class='button_right'>
					<br />
					<br />
					<br />
					<br />
					<input type='submit' value='next' name='submitbutton' class='next_button' />
				</div>
			</td>
		</tr>
	</table>
</form>
<br />
</div>

<!-- CONTAINER END (0) -->	