<br />

<!-- CONTAINER BEGIN ("Move Project",0) -->

<br />
<form action='index.php?[[PARAMS]]' method='post'>
<table class='formTable'>
	<tr>
		<td><span class='bold'>Select Project:</span></td>
	</tr>
	<tr>
		<td>
			<select name='project' size='10' class='FromSelect' />
	
			<!-- FOREACH BEGIN ([[OPTION]]) -->
	
			<option value='[[OPTION:VALUE]]'>[[OPTION:CONTENT]]</option>
	
			<!-- FOREACH END -->
	
			</select>
			<span class='formError'>[[ERROR]]</span>
		</td>
	</tr>
	<tr>
		<td><br />
			<div class='button_right'>
				<input type='submit' value='next' name='submitbutton' class='next_button' />
			</div>
			<input type='hidden' name='type' value='[[TYPE]]' />
		</td>
	</tr>
</table>
</form>

<!-- CONTAINER END (0) -->	