<br />

<!-- CONTAINER BEGIN ("Add Permission",0) -->

<br />
<form action='index.php?[[PARAMS]]' method='post'>
<table class='formTable'>
	<tr>
		<td><span class='bold'>Select Group:</span></td>
	</tr>
	<tr>
		<td>
			<select name='group' size='10' class='ProjectCreateSelect' />
	
			<!-- FOREACH BEGIN ([[OPTION]]) -->
	
			<option value='[[OPTION:VALUE]]'>[[OPTION:CONTENT]]</option>
	
			<!-- FOREACH END -->
	
			</select>
			<span class='formError'>[[ERROR]]</span>
		</td>
	</tr>
	<tr>
		<td><br />
			<div class='button_right'><input type='submit' value='next' name='submitbutton' class='next_button' /></div>
		</td>
	</tr>
</table>
</form>

<!-- CONTAINER END (0) -->	