<br />

<!-- CONTAINER BEGIN ("Method Type",0) -->

<br />
<form action='index.php?{PARAMS}' method='post' onSubmit='return submitForm(this.submitbutton)'>			
	<table class='formTable'>
		<tr>
			<td>Name:</td>
			<td>{NAME}</td>
			<td><a href='index.php?{RENAME_PARAMS}'>rename</a></td>
		</tr>
		<tr>
			<td>Category:</td>
			<td>{CATEGORY}</td>
			<td></td>
		</tr>
		<tr>
			<td colspan='3'><br />Description (optional):</td>
		</tr>
		<tr>
			<td colspan='3'>{DESCRIPTION}</td>
		</tr>
	</table>
</form>

<!-- CONTAINER END (0) -->