<div id='login_wrapper'>

<!-- CONTAINER BEGIN ("Forgot Password","LoginBox",60) -->
						 			
<br />
<br />
<div class='center'>[[MESSAGE]]
<br /><img src='images/loading.gif' alt='' />
<br />
<META HTTP-EQUIV='Refresh' CONTENT='3; URL=index.php'>
<br /><span class='smallText'>if you're not forwarded until 5 seconds, click <a href='index.php'>here</a></span></div>
<br />
<br />
<br />

<!-- CONTAINER END (60) --> 					
 					
<div class='info_login_container'>[[FOOTER]]</div>

<div id='login_footer'></div>	
</div>	