<div id='login_wrapper'>

<!-- CONTAINER BEGIN ("Login","loginRound") -->

	<br />
	<br />
	<div class='login_main_container'>
		<div class='login_image'>
			<img src='images/icons_large/logon.png' alt='logon image' />
		</div>
		<div class='login_field'>
			<form action='index.php?run=login' method='post'>
				<table>
					<tr>
						<td>Username:</td>
						<td><input name='username' type='text' size='20' value='[[USERNAME]]' class='login' /></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input name='password' type='password' size='20' class='login' /></td>
					</tr>
					<tr>
						<td>Language:</td>
						<td>
							<select class='login'>
								<option value='default' selected='selected'>User Default</option>
								<option value='0'>-------------</option>
								
								<!-- FOREACH BEGIN ([[OPTION]]) -->
		
									<option value='[[OPTION:VALUE]]'>[[OPTION:CONTENT]]</option>
							
								<!-- FOREACH END -->
								
							</select>
						</td>
					</tr>
					<tr>
						<td colspan='2'><span class='formError'>[[ERROR]]</span></td>
					</tr>
					<tr>
						<td></td>
						<td><input type='submit' name='submit' value='Login' class='login_button' /></td>
					</tr>
					<tr>
						<td></td>
						<td><span class='smallLoginText'><a href='index.php?run=forgot'>forgot password?</a></span></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<br />
	<div class='login_right_buttons'>
		<a href='index.php?run=login_help'><img src='images/icons/help.png' alt='help' border='0' /></a>
		<a href='index.php?run=login_info'><img src='images/icons/info.png' alt='info' border='0' /></a>
	</div>
						
<!-- CONTAINER END ("loginRound") --> 					
 					
<div class='info_login_container'>[[FOOTER]]</div>
<div id='login_footer'></div>
</div>