
<!-- CONTAINER BEGIN ("Logout","loginRound") -->
						 			
<br />
<br />
<div class='center'>Please wait, your logout is in progress.
<br /><img src='images/loading.gif' alt='' />
<br />
<META HTTP-EQUIV='Refresh' CONTENT='3; URL=index.php'>
<br /><span class='smallText'>if you're not forwarded until 5 seconds, click <a href='index.php'>here</a></span></div>
<br />
<br />
<br />

<!-- CONTAINER END ("loginRound") --> 					
 					
<div class='info_login_container'>[[FOOTER]]</div>