<br />
		
<!-- CONTAINER BEGIN ("My Profile",0) -->

<br />
<table class='profileQuickLinks'>
	<tr>
		
		<!-- IF ([[GENDER]]) -->	

		<td class='profileIcon'><a href='index.php?[[PARAMS_CHANGE_PERSONAL]]'><img src='images/icons_large/profile_male_50.png' alt='' border='0' /></td>

		<!-- ELSE -->
	
		<td class='profileIcon'><a href='index.php?[[PARAMS_CHANGE_PERSONAL]]'><img src='images/icons_large/profile_female_50.png' alt='' border='0' /></td>

		<!-- ENDIF -->	
		
		
		<td class='profileText'><a href='index.php?[[PARAMS_CHANGE_PERSONAL]]'>My Personal Data</a><br />Changes your personal data, e.g. your mail-adress or your name.</td>			
		
		
		<td class='profileIcon'><a href='index.php?[[PARAMS_MY_SETTINGS]]'><img src='images/icons_large/mysettings_50.png' alt='' border='0' /></a></td>
		<td class='profileText'><a href='index.php?[[PARAMS_MY_SETTINGS]]'>My Settings</a><br />Sets personal settings for a customized Open-LIMS handling.</td>
		

		<!-- IF ([[CAN_CHANGE_PASSWORD]]) -->	
				
		<td class='profileIcon'><a href='index.php?[[PARAMS_CHANGE_PASSWORD]]'><img src='images/icons_large/mypassword_50.png' alt='' border='0' /></a></td>
		<td class='profileText'><a href='index.php?[[PARAMS_CHANGE_PASSWORD]]'>Change My Password</a><br />Changes your personal password for the Open-LIMS login.</td>
		
		<!-- ELSE -->
		
		<td class='profileIcon'><img src='images/icons_large/mypassword_50_d.png' alt='' border='0' /></td>
		<td class='profileText'><span class='bold'>Change My Password</span><span class='ProjectOptionsFontDeactivated'><br />Changes your personal password for the Open-LIMS login.</span></td>
		
		<!-- ENDIF -->		
								
	</tr>
</table>
<br />
<br />
				
<!-- CONTAINER END (0) -->	
	
<br />
<div class='center'><a href='index.php?[[BACK_PARAMS]]'>back</a></div>