<br />

<!-- CONTAINER BEGIN ("Change Personal Data") -->

<form action='index.php?[[PARAMS]]' method='post' onSubmit='return submitForm(this.submitbutton)'>
<br />
<table class='formTable'>
	<tr>
		<td colspan='2'><div class='profileHeadline'>Personal Information:</div></td>
	</tr>
	<tr>
		<td>Gender:</td>
		<td>
		
			<!-- IF ([[GENDER]]) -->
		
			<input name='gender' type='radio' value='m' checked />male&nbsp;
			<input name='gender' type='radio' value='f' />female
			
			<!-- ELSE -->
			
			<input name='gender' type='radio' value='m' />male&nbsp;
			<input name='gender' type='radio' value='f' checked />female
			
			<!-- ENDIF -->
						
		</td>
	</tr>
	<tr>
		<td>First Name: *</td>
		<td><input type='text' name='forename' value='[[FORENAME]]' class='FormTextfield' size='45' />[[ERROR_0]]</td>
	</tr>
	<tr>
		<td>Last Name: *</td>
		<td><input type='text' name='surname' value='[[SURNAME]]' class='FormTextfield' size='45' />[[ERROR_1]]</td>
	</tr>
	<tr>
		<td>Title:</td>
		<td><input type='text' name='title' value='[[TITLE]]' class='FormTextfield' size='45' maxlength='10' /></td>
	</tr>
	<tr>
		<td colspan='2'><div class='profileHeadline'>Contact Information:</div></td>
	</tr>
	<tr>
		<td>Mail: *</td>
		<td><input type='text' name='mail' value='[[MAIL]]' class='FormTextfield' size='45' />[[ERROR_2]]</td>
	</tr>
	<tr>
		<td>Institution:</td>
		<td><input type='text' name='institution' value='[[INSTITUTION]]' class='FormTextfield' size='45' /></td>
	</tr>
	<tr>
		<td>Department:</td>
		<td><input type='text' name='department' value='[[DEPARTMENT]]' class='FormTextfield' size='45' /></td>
	</tr>
	<tr>
		<td>Street:</td>
		<td><input type='text' name='street' value='[[STREET]]' class='FormTextfield' size='45' /></td>
	</tr>
	<tr>
		<td>Zip:</td>
		<td><input type='text' name='zip' value='[[ZIP]]' class='FormTextfield' size='10' maxlength='10' /></td>
	</tr>
	<tr>
		<td>City:</td>
		<td><input type='text' name='city' value='[[CITY]]' class='FormTextfield' size='45' /></td>
	</tr>
	<tr>
		<td>Country:</td>
		<td><input type='text' name='country' value='[[COUNTRY]]' class='FormTextfield' size='45' /></td>
	</tr>
	<tr>
		<td>Phone (Office):</td>
		<td><input type='text' name='phone' value='[[PHONE]]' class='FormTextfield' size='45' /></td>
	</tr>
	<tr>
		<td colspan='2'><div class='profileHeadline'>Instant Messengers:</div></td>
	</tr>
	<tr>
		<td>ICQ:</td>
		<td><input type='text' name='icq' value='[[ICQ]]' class='FormTextfield' size='45' />[[ERROR_3]]</td>
	</tr>
	<tr>
		<td>MSN:</td>
		<td><input type='text' name='msn' value='[[MSN]]' class='FormTextfield' size='45' /></td>
	</tr>
	<tr>
		<td>Yahoo:</td>
		<td><input type='text' name='yahoo' value='[[YAHOO]]' class='FormTextfield' size='45' /></td>
	</tr>
	<tr>
		<td>AIM:</td>
		<td><input type='text' name='aim' value='[[AIM]]' class='FormTextfield' size='45' /></td>
	</tr>
	<tr>
		<td>Skype:</td>
		<td><input type='text' name='skype' value='[[SKYPE]]' class='FormTextfield' size='45' /></td>
	</tr>
	<tr>
		<td></td>
		<td><br /><input type='submit' class='FormButton' name='submitbutton' value='save' /></td>
	</tr>
</table>
</form>
<br /><div class='center'><span class='smallTextBlack'>* required fields</span></div>
<br />
					
<!-- CONTAINER END () -->
			
