/* Login */
#LoginHeader
{
	height: 235px;
	width: 	968px;
	background-image: url("../images/panorama.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}
#LoginContainer
{
	color: #272725;
	width: 370px;
	margin: 20px auto;
}
#LoginTitle
{
	font-size: 13px;
	font-weight: bold;	
	margin-bottom: 10px;
}
#LoginTable
{
	width: 100%; 
	font-weight: bold;	
	margin: 0;
	padding: 0;
	border-collapse: separate;
	border-spacing: 0;
}
#LoginTable td
{
	padding: 7px 0;
}
#LoginTable a
{
	font-weight: normal;	
}