
/* Navigation */
#NavigationBackground
{
	margin: 13px 0 0 6px;
	padding: 0;
	left: 0;
	position: absolute;
	height: 18px;
	width: 968px;
	background-image: url('../images/tabs/bar.png');
	background-repeat:repeat-x;
	background-position: top left;
	z-index: 1;
}

.NavigationBackgroundBlue
{
	border-bottom: 1px #336699 solid;
}
.NavigationBackgroundGreen
{
	border-bottom: 1px #99cd32 solid;
}

.NavigationBackgroundOrange
{
	border-bottom: 1px #dcaf36 solid;
}

.NavigationBackgroundGrey
{
	border-bottom: 1px #535353 solid;
}


/* Sub Navigation */
.NavigationButtonSubMenu 
{
	display: none;
}

#NavigationButtonMenu
{
	position: absolute;
	border-top: 0;
    -moz-border-bottom-right-radius: 10px;
   	-webkit-border-bottom-right-radius: 10px;
   	-khtml-border-bottom-right-radius: 10px;
   	border-bottom-right-radius: 10px;
   	-moz-border-bottom-left-radius: 10px;
   	-webkit-border-bottom-left-radius: 10px;
   	-khtml-border-bottom-left-radius: 10px;
   	border-bottom-left-radius: 10px;
   	font-family: arial;
   	background-color: #ffffff;
  	-moz-box-shadow: 3px 3px 5px #636363;
  	-webkit-box-shadow: 3px 3px 5px #636363;
 	 box-shadow: 3px 3px 5px #636363;
	padding: 5px 5px 7px 5px;
	z-index:1000;
}

.NavigationButtonMenuCategory
{
/* 	background-color: none; */
/* 	-moz-border-bottom-right-radius: 7px; */
/*    	-webkit-border-bottom-right-radius: 7px; */
/*    	-khtml-border-bottom-right-radius: 7px; */
/*    	border-bottom-right-radius: 7px; */
/*    	-moz-border-bottom-left-radius: 7px; */
/*    	-webkit-border-bottom-left-radius: 7px; */
/*    	-khtml-border-bottom-left-radius: 7px; */
/*    	border-bottom-left-radius: 7px; */

/* 	padding: 5px 5px 5px 5px; */
}

.NavigationButtonMenuColumn
{
	float:left;
	width: 150px;
}

.NavigationButtonMenuColumnSeparator
{
	width: 0;
	float: left;
	margin: 0 5px 0 5px;
}

.NavigationButtonMenuCategoryCaption
{
	color: #ffffff;
	font-weight:bold;
	font-size:14px;
	color: #999;
	padding-bottom: 5px;
	padding: 2px 7px 5px 7px;
}

.NavigationButtonMenuCategory ul 
{
	list-style:none;
	padding: 0;
	margin: 0;
	font-size: 13px;
}


.NavigationButtonMenuCategory ul li a 
{
	text-decoration: none;
	color: #333333;
	font-weight: normal;
	-moz-border-radius: 5px;
   	-webkit-border-radius: 5px;
   	-khtml-border-radius: 5px;
   	border-radius: 5px;	
   	display:block;
   	padding: 2px 7px 2px 7px;
}

.NavigationButtonMenuCategory ul li a:hover 
{
	color: #ffffff;	
}


/* Tabs Navigation */

#NavigationMenuHiddenTabsMenu
{
	position: absolute;
	background-color: white;
	border: solid black 1px;
	font-family: arial;
	font-size: 12px;
	z-index: 200;
	width: 100px;
    -moz-border-radius: 10px;
   	-webkit-border-radius: 10px;
   	-khtml-border-radius: 10px;
   	border-radius: 10px;
   	padding: 5px 5px 5px 5px;
   	border: solid black 1px;
   	-moz-box-shadow: 3px 3px 5px #636363;
  	-webkit-box-shadow: 3px 3px 5px #636363;
 	box-shadow: 3px 3px 5px #636363;
}

.NavigationMenuHiddenTabsMenuEntry
{
	font-weight: bold;
	font-size: 14px;
	padding: 3px 3px 3px 3px;
	-moz-border-radius: 5px;
   	-webkit-border-radius: 5px;
   	-khtml-border-radius: 5px;
   	border-radius: 5px;
}

.NavigationMenuHiddenTabsMenuEntry:hover
{
	color: #ffffff;
	background-color: #999;
}


/* Left Navigation */
#NavigationMenu
{
	position: relative;
	z-index: 2;
	margin: 0 0 0 25px;
	padding: 0;
	float: left;
	height: 31px;
	width: 968px;
}
#NavigationMenu li
{
	font: bold 14px Arial, Helvetica, sans-serif;
	list-style: none;
	float: left;
}
#NavigationMenu li a
{
	display: block;
	padding: 5px 0 3px 0;
	margin: 0;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #606060;	
	text-shadow: -1px -1px #d9d9d9;
}

/* Normal Button */
.NavigationButton
{
	display: block;
	margin: 0;
	padding: 0;
	height: 26px;
	float: left;
}
.NavigationButtonLeft
{
	width: 10px;
	background-image: url('../images/tabs/tab_left.png');
	background-repeat:no-repeat;
	background-position: top left;
}
.NavigationButtonContent
{
	padding: 6px 1px 0 1px;
	background-image: url('../images/tabs/tab.png');
	background-repeat:repeat-x;
	background-position: top center;
	
}
.NavigationButtonDown
{
	padding: 0px 1px 0px 0px;
	background-image: url('../images/tabs/tab_right_button_up.png');
	background-repeat:no-repeat;
	background-position: top left;
	width: 23px;
}
.NavigationButtonRight
{
	width: 10px;
	background-image: url('../images/tabs/tab_right.png');
	background-repeat:no-repeat;
	background-position: top right;
}

.NavigationButtonContentHasBorderRight
{
	border-right: solid #c0c0c0 1px;
	padding-right:5px;
	height: 20px;
}

/* Arrow Down */
.NavigationButtonDown img
{
margin: 11px 0px 0 1px;
border: none;
}


/* General for Active and Hover */
#NavigationMenu li.ActiveBlue a span.NavigationButton,
#NavigationMenu li.ActiveGreen a span.NavigationButton,
#NavigationMenu li.ActiveOrange a span.NavigationButton,
#NavigationMenu li.ActiveGrey a span.NavigationButton,
#NavigationMenu li.Blue a:hover span.NavigationButton,
#NavigationMenu li.Green a:hover span.NavigationButton,
#NavigationMenu li.Orange a:hover span.NavigationButton,
#NavigationMenu li.Grey a:hover span.NavigationButton,
#NavigationMenu li.GreyedOut a span.NavigationButton
{
	display: block;
	margin: -5px 0 0 0;
	height: 31px;
	float: left;
}
#NavigationMenu li.ActiveBlue a span.NavigationButtonLeft,
#NavigationMenu li.ActiveGreen a span.NavigationButtonLeft,
#NavigationMenu li.ActiveOrange a span.NavigationButtonLeft,
#NavigationMenu li.ActiveGrey a span.NavigationButtonLeft,
#NavigationMenu li.Blue a:hover span.NavigationButtonLeft,
#NavigationMenu li.Green a:hover span.NavigationButtonLeft,
#NavigationMenu li.Orange a:hover span.NavigationButtonLeft,
#NavigationMenu li.Grey a:hover span.NavigationButtonLeft,
#NavigationMenu li.ActiveBlue a span.NavigationButtonRight,
#NavigationMenu li.ActiveGreen a span.NavigationButtonRight,
#NavigationMenu li.ActiveOrange a span.NavigationButtonRight,
#NavigationMenu li.ActiveGrey a span.NavigationButtonRight,
#NavigationMenu li.Blue a:hover span.NavigationButtonRight,
#NavigationMenu li.Green a:hover span.NavigationButtonRight,
#NavigationMenu li.Orange a:hover span.NavigationButtonRight,
#NavigationMenu li.Grey a:hover span.NavigationButtonRight,
#NavigationMenu li.GreyedOut a span.NavigationButtonRight
{
	padding: 0;
	width: 10px;
}
#NavigationMenu li.ActiveBlue a span.NavigationButtonContent,
#NavigationMenu li.ActiveGreen a span.NavigationButtonContent,
#NavigationMenu li.ActiveOrange a span.NavigationButtonContent,
#NavigationMenu li.ActiveGrey a span.NavigationButtonContent,
#NavigationMenu li.Blue a:hover span.NavigationButtonContent,
#NavigationMenu li.Green a:hover span.NavigationButtonContent,
#NavigationMenu li.Orange a:hover span.NavigationButtonContent,
#NavigationMenu li.Grey a:hover span.NavigationButtonContent,
#NavigationMenu li.GreyedOut a span.NavigationButtonContent
{
	padding: 11px 1px 0 1px;
	color: #F0F0F0;
}
#NavigationMenu li.ActiveBlue a span.NavigationButtonDown,
#NavigationMenu li.ActiveGreen a span.NavigationButtonDown,
#NavigationMenu li.ActiveOrange a span.NavigationButtonDown,
#NavigationMenu li.ActiveGrey a span.NavigationButtonDown,
#NavigationMenu li.Blue a:hover span.NavigationButtonDown,
#NavigationMenu li.Green a:hover span.NavigationButtonDown,
#NavigationMenu li.Orange a:hover span.NavigationButtonDown,
#NavigationMenu li.Grey a:hover span.NavigationButtonDown,
#NavigationMenu li.GreyedOut a span.NavigationButtonDown
{
	padding: 5px 1px 0 0px;
}

/* Active Blue */
#NavigationMenu li.ActiveBlue a span.NavigationButtonLeft
{
	background-image: url('../images/tabs/blue_active_left.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.ActiveBlue a span.NavigationButtonContent
{
	background-image: url('../images/tabs/blue_active.png');
	background-repeat:repeat-x;
	background-position: top center;
	text-shadow: -1px -1px #336699;
}
#NavigationMenu li.ActiveBlue a span.NavigationButtonDown
{
	background-image: url('../images/tabs/blue_active_button_up_right.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.ActiveBlue a span.NavigationButtonRight
{
	background-image: url('../images/tabs/blue_active_right.png');
	background-repeat:no-repeat;
	background-position: top right;
}

/* Active Green */
#NavigationMenu li.ActiveGreen a span.NavigationButtonLeft
{
	background-image: url('../images/tabs/green_active_left.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.ActiveGreen a span.NavigationButtonContent
{
	background-image: url('../images/tabs/green_active.png');
	background-repeat:repeat-x;
	background-position: top center;
	text-shadow: -1px -1px #99cd32;
}
#NavigationMenu li.ActiveGreen a span.NavigationButtonDown
{
	background-image: url('../images/tabs/green_active_button_up_right.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.ActiveGreen a span.NavigationButtonRight
{
	background-image: url('../images/tabs/green_active_right.png');
	background-repeat:no-repeat;
	background-position: top right;
}

/* Active Orange */
#NavigationMenu li.ActiveOrange a span.NavigationButtonLeft
{
	background-image: url('../images/tabs/orange_active_left.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.ActiveOrange a span.NavigationButtonContent
{
	background-image: url('../images/tabs/orange_active.png');
	background-repeat:repeat-x;
	background-position: top center;
	text-shadow: -1px -1px #dcaf36;
}
#NavigationMenu li.ActiveOrange a span.NavigationButtonDown
{
	background-image: url('../images/tabs/orange_active_button_up_right.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.ActiveOrange a span.NavigationButtonRight
{
	background-image: url('../images/tabs/orange_active_right.png');
	background-repeat:no-repeat;
	background-position: top right;
}

/* Active Grey */
#NavigationMenu li.ActiveGrey a span.NavigationButtonLeft
{
	background-image: url('../images/tabs/grey_active_left.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.ActiveGrey a span.NavigationButtonContent
{
	background-image: url('../images/tabs/grey_active.png');
	background-repeat:repeat-x;
	background-position: top center;
	text-shadow: -1px -1px #535353;
}
#NavigationMenu li.ActiveGrey a span.NavigationButtonDown
{
	background-image: url('../images/tabs/grey_active_button_up_right.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.ActiveGrey a span.NavigationButtonRight
{
	background-image: url('../images/tabs/grey_active_right.png');
	background-repeat:no-repeat;
	background-position: top right;
}

/* Hover Blue */
#NavigationMenu li.Blue a:hover span.NavigationButtonLeft
{
	background-image: url('../images/tabs/blue_active_left.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.Blue a:hover span.NavigationButtonContent
{
	background-image: url('../images/tabs/blue_active.png');
	background-repeat:repeat-x;
	background-position: top center;
	text-shadow: -1px -1px #336699;
}
#NavigationMenu li.Blue a:hover span.NavigationButtonDown
{
	background-image: url('../images/tabs/blue_active_button_up_right.png');
	background-repeat:repeat-x;
	background-position: top left;
}
#NavigationMenu li.Blue a:hover span.NavigationButtonRight
{
	background-image: url('../images/tabs/blue_active_right.png');
	background-repeat:no-repeat;
	background-position: top right;
}

/* Hover Green */
#NavigationMenu li.Green a:hover span.NavigationButtonLeft
{
	background-image: url('../images/tabs/green_active_left.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.Green a:hover span.NavigationButtonContent
{
	background-image: url('../images/tabs/green_active.png');
	background-repeat:repeat-x;
	background-position: top center;
	text-shadow: -1px -1px #99cd32;
}
#NavigationMenu li.Green a:hover span.NavigationButtonDown
{
	background-image: url('../images/tabs/green_active_button_up_right.png');
	background-repeat:repeat-x;
	background-position: top left;
}
#NavigationMenu li.Green a:hover span.NavigationButtonRight
{
	background-image: url('../images/tabs/green_active_right.png');
	background-repeat:no-repeat;
	background-position: top right;
}

/* Hover Orange */
#NavigationMenu li.Orange a:hover span.NavigationButtonLeft
{
	background-image: url('../images/tabs/orange_active_left.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.Orange a:hover span.NavigationButtonContent
{
	background-image: url('../images/tabs/orange_active.png');
	background-repeat:repeat-x;
	background-position: top center;
	text-shadow: -1px -1px #dcaf36;
}
#NavigationMenu li.Orange a:hover span.NavigationButtonDown
{
	background-image: url('../images/tabs/orange_active_button_up_right.png');
	background-repeat:repeat-x;
	background-position: top left;
}
#NavigationMenu li.Orange a:hover span.NavigationButtonRight
{
	background-image: url('../images/tabs/orange_active_right.png');
	background-repeat:no-repeat;
	background-position: top right;
}

/* Hover Grey */
#NavigationMenu li.Grey a:hover span.NavigationButtonLeft
{
	background-image: url('../images/tabs/grey_active_left.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.Grey a:hover span.NavigationButtonContent
{
	background-image: url('../images/tabs/grey_active.png');
	background-repeat:repeat-x;
	background-position: top center;
	text-shadow: -1px -1px #535353;
}
#NavigationMenu li.Grey a:hover span.NavigationButtonDown
{
	background-image: url('../images/tabs/grey_active_button_up_right.png');
	background-repeat:repeat-x;
	background-position: top left;
}
#NavigationMenu li.Grey a:hover span.NavigationButtonRight
{
	background-image: url('../images/tabs/grey_active_right.png');
	background-repeat:no-repeat;
	background-position: top right;
}

/* Content Border */
#NavigationMenu li.ActiveGreen a span.NavigationButtonContentHasBorderRight,
#NavigationMenu li.Green a:hover span.NavigationButtonContentHasBorderRight
{
	border-right: solid #99cd32 1px;
	padding-right:5px;
	height: 20px;
}

#NavigationMenu li.ActiveGrey a span.NavigationButtonContentHasBorderRight,
#NavigationMenu li.Grey a:hover span.NavigationButtonContentHasBorderRight
{
	border-right: solid #535353 1px;
	padding-right:5px;#
	height: 20px;
}

#NavigationMenu li.ActiveBlue a span.NavigationButtonContentHasBorderRight,
#NavigationMenu li.Blue a:hover span.NavigationButtonContentHasBorderRight
{
	border-right: solid #336699 1px;
	padding-right:5px;
	height: 20px;
}

#NavigationMenu li.ActiveOrange a span.NavigationButtonContentHasBorderRight,
#NavigationMenu li.Orange a:hover span.NavigationButtonContentHasBorderRight
{
	border-right: solid #dcaf36 1px;
	padding-right:5px;
	height: 20px;
}

#NavigationMenu li.GreyedOut a span.NavigationButtonContentHasBorderRight
{
	padding-right:5px;
	height: 20px;
}


/* Light Grey */
#NavigationMenu li.GreyedOut a span.NavigationButtonLeft
{
	background-image: url('../images/tabs/light_grey_active_left.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.GreyedOut a span.NavigationButtonContent
{
	background-image: url('../images/tabs/light_grey_active.png');
	background-repeat:repeat-x;
	background-position: top center;
	text-shadow: -1px -1px #b6b6b6;
}
#NavigationMenu li.GreyedOut a span.NavigationButtonDown
{
	background-image: url('../images/tabs/light_grey_active_button_up.png');
	background-repeat:no-repeat;
	background-position: top left;
}
#NavigationMenu li.GreyedOut a span.NavigationButtonRight
{
	background-image: url('../images/tabs/light_grey_active_right.png');
	background-repeat:no-repeat;
	background-position: top right;
}


/* Navigation Menu Clear */
#NavigationMenuClear
{
	clear: left;	
}