/* TOOLTIP */

#tooltip
{
	position:absolute;
	background-color:white;
	border: solid black 1px;
	padding: 2px 4px 2px 4px;
	font-family: arial;
	font-size: 12px;
	z-index: 1000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/* BASE LIST */


.ListTable
{
	width: 100%;
	border-collapse: separate;
	border-spacing:1px 0px;
	border-collapse: expression('separate', cellSpacing = '0px');
	table-layout:fixed;
	white-space: nowrap;
	overflow: hidden;
}
.ListTable th 
{
	font-weight: bold;
	text-align: left;
	border-bottom: 1px #C0C0C0 dotted;
	color: black;
	white-space: nowrap;
	overflow: hidden;
}
.ListTable th a 
{
	text-decoration: none;
	color: black !important;
}
.ListTable td 
{
	margin-bottom: 2px;
	padding: 4px 4px;
	white-space: nowrap;
	overflow: hidden;
}
.ListTable tr 
{
	vertical-align: top;
}
.ListTableColumnFirstEntry
{
	border-left:solid white 2px;
}
.ListTableColumnLastEntry
{
	border-right:solid white 2px;
}

#ListTableOptionsTrigger
{
	z-index: 95;
/* 	padding-left: 4px; */
	border:solid white 2px;
	border-bottom: 1px #C0C0C0 dotted;
	background-color:#ffffff;
	position:relative;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}

#ListTableOptions
{
	cursor: default;
	z-index: 94;
	position: absolute;
	font-family:arial;
	font-size:12px;
	background-color:#ffffff;
	border:solid #669acc 2px;
	padding: 2px 4px 2px 4px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
}

#ListTableOptionsCorner
{
	border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-left:solid #669acc 2px;
	border-bottom:solid #669acc 2px;
}

.ListTableOptionsEntry
{
		
}


/* BASE TREE NAVIGATION */
.BaseTreeList
{
	list-style-type: none;
	margin: 0 0 0 10px;
	padding: 0px;
}
.BaseTreeEntry 
{
	/* table-layout:fixed; */
	border-collapse: collapse;
}
.BaseTreeEntry td
{
	height:19px;
}
.BaseTreeEntry img
{
	border: 0;
}
.BaseTreeEntry a
{
	text-decoration: none;
	color: black;
}
.BaseTreeEntry a:hover
{
	text-decoration: underline;
}
.BaseTreeEntry a:focus
{
	outline: none;
}

/* LEFT NAVIGATION MENU */
#LeftNavigationTree
{
	padding-top:2px;
}

#LeftNavigationTree img
{
	min-height:1%;
}

#LeftNavigation
{
	width: 190px;
	float: left;
	font-family: arial;
	font-size: 11px;
}

#LeftNavigationSymbolArea div
{
	float: left;
	height:24px;
	width:24px;
	margin: 2px 2px 0 2px;
}

#LeftNavigationSymbolArea div img
{
	margin: 4px 4px 4px 4px;
}

#LeftNavigationSymbolAreaClear
{
	clear: left;
	border-top: 1px #D0D0D0 dotted;
}

#LeftNavigationTitle
{
	border-bottom: 1px #D0D0D0 dotted;
	font-weight: bold;
	padding: 2px 2px 2px 5px;
}

/* Small Tabs (ÜA) */
#SmallTabContainer 
{
	width: 750px;
	font: normal 1em Verdana, Helvetica, sans-serif;
}

#SmallTabContainer a 
{
	color: #404040;
}

#SmallTabContainer a:hover,
#SmallTabContainer a:active,
#SmallTabContainer a:focus
{
	color: #404040;
}

#SmallTabFooter 
{
	clear: left;
	margin: -1px;
	height: 1px;
	width: 750px;
	border-top: 1px #D0D0D0 dotted;
}

.SmallTabList 
{
	width: 750px;
	padding: 0;
	margin: 0;
}

.SmallTabList li 
{
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	width: 101px;
}

.SmallTabList li a.SmallTab 
{
	display: block;
	font: normal 12px Verdana, Tahoma, Helvatica, sans-serif;
	background-image: url(../images/tabs/small_tab.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding: 0 3px 0 3px;
	margin: 0;
	float: left;
	width: 96px;
	height: 18px;
	text-align: center;
	text-decoration: none;
}

.SmallTabList li a.SmallTab:hover,
.SmallTabList li a.SmallTab:active,
.SmallTabList li a.SmallTab:focus
{
	background-image: url(../images/tabs/small_tab_active.png);
	background-repeat: no-repeat;
	background-position: bottom center;
}

.SmallTabList li a.SmallTabActive 
{
	display: block;
	font: normal 12px Verdana, Tahoma, Helvatica, sans-serif;
	background-image: url(../images/tabs/small_tab_active.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding: 0 3px 0 3px;
	margin: 0;
	float: left;
	width: 96px;
	height: 18px;
	text-align: center;
	text-decoration: none;
}

.SmallTabList li span.SmallTabInactive 
{
	display: block;
	font: normal 12px Verdana, Tahoma, Helvatica, sans-serif;
	color: #C0C0C0;
	background-image: url(../images/tabs/small_tab.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding: 0 3px 0 3px;
	margin: 0;
	float: left;
	width: 96px;
	height: 16px;
	text-align: center;
	text-decoration: none;
	border: 1px #D0D0D0 solid;
}

#AddPaperSizeDialogGeneral
{
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.AddPaperSizeDialogGeneralFieldTitle
{
	width: 100px;
	float: left;
	clear: left;
	margin-top: 5px;
	margin-bottom: 5px;
}
.AddPaperSizeDialogGeneralField
{
	margin-top: 5px;
	margin-bottom: 5px;
}
#AddPaperSizeDialogMargin
{
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px #D0D0D0 solid;
}
#AddPaperSizeDialogMarginTitle,
#AddPaperSizeDialogGeneralTitle
{
	clear: left;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}
#AddPaperSizeDialogMarginTop
{
	text-align: center;
}
#AddPaperSizeDialogMarginLeft
{
	float: left;
	text-align: center;
	padding-top: 55px;
}
#AddPaperSizeDialogMarginImage
{
	float: left;
	text-align: center;
}
#AddPaperSizeDialogMarginRight
{
	text-align: center;
	padding-top: 55px;
}
#AddPaperSizeDialogMarginBottom
{
	clear: left;
	text-align: center;
}

#BaseLogoutQuestion
{
	font: normal 12px Arial, Helvetica, sans-serif;	
	padding: 10px;
}
#BaseLogoutQuestionText
{
	font-weight: bold;
	margin: 15px;
}
#BaseLogoutQuestionButtons input
{
	background-color: white;
	border: 1px #C0C0C0 solid;
	padding: 2px;
	margin: 10px;
	width: 50px;
}


/* Forms */
.FormButton
{
	background-color: white;
	border: 1px #C0C0C0 solid;
}

.FormCheck
{
	background-color: white;
}

.FormTextarea
{
	background-color: white;
	border: 1px #C0C0C0 solid
}

.FormTextfield
{
	background-color: white;
	border: 1px #C0C0C0 solid
}

.FormRadio
{
	background-color: white;
}

.FormSelect
{
	background-color: white;
	border: 1px #C0C0C0 solid;
	width: 100%;
}
.FormError
{
	font: normal 0.8em Verdana, Helvatica, sans-serif;
	color: red;
}

.ContentBoxBegin
{
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
.ContentBoxBegin td
{
	padding: 0px;
}
.ContentBoxBeginLeft
{
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.ContentBoxBeginRight
{
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}
.ContentBoxBeginTitle
{
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}
.ContentBoxMain
{
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
}
.ContentBoxEnd
{
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
.ContentBoxEnd td
{
	padding: 0px;
}
.ContentBoxEndLeft
{
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}
.ContentBoxEndRight
{
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}
.ContentBoxEndBorder
{
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}

/* Home */
#HomeWelcome
{
	float: left;
}
#HomeDate
{
	float: right;
}
#HomeSummary
{
	width: 100%;
}
#HomeSummaryLeft
{
	float: left;
	width: 355px;
	padding: 0 5px;
}
#HomeSummaryLeft table tr td
{
	padding: 3px 0;
}
#HomeSummaryRight
{
	float: right;
	width: 355px;
	padding: 0 5px;
}
#HomeSummaryRight table tr td
{
	padding: 3px 0;
}
#HomeSummaryClear
{
	clear: both;
}
.HomeLeft
{
	float: left;
}
.HomeLeft div.ContentBoxMain
{
	min-height: 350px;
}
.HomeRight
{
	float: right;
}
.HomeRight div.ContentBoxMain
{
	min-height: 350px;
}
.HomeTodayArea
{
	width: 98%;
	padding: 0 3px;
	border-bottom: 1px #D0D0D0 dotted;
}
.HomeTodayHeadline
{
	margin: 3px 0;
	font-size: 10px;
}
.HomeTodayEntry
{
	
}
.HomeTodayOverdueEntry
{
	color: red;
}

.Assistant
{
	width: 730px;
	padding: 5px 10px 5px 10px;
}
.AssistantElement a
{
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
}
.AssistantElementImage
{
	display: block;
	padding: 2px;
}
.AssistantElementText
{
	display: block;
	font: bold 10px Verdana, Tahoma, Helvetica, sans-serif;
	color: #505050;
}
.AssistantClear
{
	clear: left;
	width: 750px;
	border-bottom: 1px #D0D0D0 dotted;
	height: 4px;
}
.AssistantButton,
.AssistantButtonDisabled
{
	background-color: white;
	border: 1px #C0C0C0 solid;
	width: 70px;
}
.AssistantButton:hover
{
	background-color: #E0E0E0;
}
#AssistantLoading
{
	text-align: center;	
}

.LoginBox
{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	font: normal 0.8em Verdana, Helvetica, sans-serif;
}

.BaseBlockUIProceed
{
	margin: 10px;
	font: normal 12px Verdana, Helvetica, sans-serif;
}
.BaseWantToButton
{
	display: block;
	clear: left;
	height: 36px;
	text-decoration: none;
}
.BaseWantToButton:hover
{
	background: #99b2cc;
	text-decoration: none;
}
.BaseWantToIcon
{
	display: block;
	float: left;
	width: 35px;
	margin: 5px;
}
.BaseWantToText
{
	display: block;
	margin-left: 45px;
	padding-top: 10px;
	font: bold 1em Verdana, Helvetica, sans-serif;
	color: black;
	text-decoration: none;
}
.BaseWantToHeadline
{
	color: #0F0F0F;
	font: normal 10px Verdana, Helvetica, sans-serif;
}
.BaseWantToLine
{
	margin: 0 0 2px 0;
	padding: 2px 0 0 0;
	height: 1px;
	border-bottom: 1px #C0C0C0 dotted;
	font-size: 10px;
	clear: both;
}