/* BASE TREE NAVIGATION */

.BaseTreeList
{
list-style-type: none;
margin: 0 0 0 10px;
padding: 0px;
}

.BaseTreeEntry 
{
/* table-layout:fixed; */
border-collapse: collapse;
}

.BaseTreeEntry td
{
height:19px;
}

.BaseTreeEntry img
{
border: 0;
}

.BaseTreeEntry a
{
text-decoration: none;
color: black;
}

.BaseTreeEntry a:hover
{
text-decoration: underline;
}

.BaseTreeEntry a:focus
{
outline: none;
}


/* LEFT NAVIGATION MENU */

#LeftNavigationTree
{
padding-top:2px;
}

#LeftNavigationTree img {
min-height:1%;
}

#LeftNavigation
{
width: 190px;
float: left;
font-family: arial;
font-size: 11px;
}

#LeftNavigationSymbolArea div
{
float: left;
height:24px;
width:24px;
margin: 2px 2px 0 2px;
}

#LeftNavigationSymbolArea div img
{
margin: 4px 4px 4px 4px;
}

#LeftNavigationSymbolAreaClear
{
clear: left;
border-top: 1px #D0D0D0 dotted;
}

#LeftNavigationTitle
{
border-bottom: 1px #D0D0D0 dotted;
font-weight: bold;
padding: 2px 2px 2px 5px;
}

/* Small Tabs (ÜA) */
#SmallTabContainer 
{
	width: 750px;
	font: normal 1em Verdana, Helvetica, sans-serif;
}

#SmallTabContainer a 
{
	color: #404040;
}

#SmallTabContainer a:hover,
#SmallTabContainer a:active,
#SmallTabContainer a:focus
{
	color: #404040;
}

#SmallTabFooter 
{
	clear: left;
	margin: -1px;
	height: 1px;
	width: 750px;
	border-top: 1px #D0D0D0 dotted;
}

.SmallTabList 
{
	width: 750px;
	padding: 0;
	margin: 0;
}

.SmallTabList li 
{
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	width: 101px;
}

.SmallTabList li a.SmallTab 
{
	display: block;
	font: normal 12px Verdana, Tahoma, Helvatica, sans-serif;
	background-image: url(../images/tabs/small_tab.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding: 0 3px 0 3px;
	margin: 0;
	float: left;
	width: 96px;
	height: 18px;
	text-align: center;
	text-decoration: none;
}

.SmallTabList li a.SmallTab:hover,
.SmallTabList li a.SmallTab:active,
.SmallTabList li a.SmallTab:focus
{
	background-image: url(../images/tabs/small_tab_active.png);
	background-repeat: no-repeat;
	background-position: bottom center;
}

.SmallTabList li a.SmallTabActive 
{
	display: block;
	font: normal 12px Verdana, Tahoma, Helvatica, sans-serif;
	background-image: url(../images/tabs/small_tab_active.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding: 0 3px 0 3px;
	margin: 0;
	float: left;
	width: 96px;
	height: 18px;
	text-align: center;
	text-decoration: none;
}

.SmallTabList li span.SmallTabInactive 
{
	display: block;
	font: normal 12px Verdana, Tahoma, Helvatica, sans-serif;
	color: #C0C0C0;
	background-image: url(../images/tabs/small_tab.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding: 0 3px 0 3px;
	margin: 0;
	float: left;
	width: 96px;
	height: 16px;
	text-align: center;
	text-decoration: none;
	border: 1px #D0D0D0 solid;
}

#AddPaperSizeDialogGeneral
{
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.AddPaperSizeDialogGeneralFieldTitle
{
	width: 100px;
	float: left;
	clear: left;
	margin-top: 5px;
	margin-bottom: 5px;
}
.AddPaperSizeDialogGeneralField
{
	margin-top: 5px;
	margin-bottom: 5px;
}
#AddPaperSizeDialogMargin
{
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px #D0D0D0 solid;
}
#AddPaperSizeDialogMarginTitle,
#AddPaperSizeDialogGeneralTitle
{
	clear: left;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}
#AddPaperSizeDialogMarginTop
{
	text-align: center;
}
#AddPaperSizeDialogMarginLeft
{
	float: left;
	text-align: center;
	padding-top: 55px;
}
#AddPaperSizeDialogMarginImage
{
	float: left;
	text-align: center;
}
#AddPaperSizeDialogMarginRight
{
	text-align: center;
	padding-top: 55px;
}
#AddPaperSizeDialogMarginBottom
{
	clear: left;
	text-align: center;
}

#BaseLogoutQuestion
{
	font: normal 12px Arial, Helvetica, sans-serif;	
	padding: 10px;
}
#BaseLogoutQuestionText
{
	font-weight: bold;
	margin: 15px;
}
#BaseLogoutQuestionButtons input
{
	background-color: white;
	border: 1px #C0C0C0 solid;
	padding: 2px;
	margin: 10px;
	width: 50px;
}


.FormError {
	font: normal 0.8em Verdana, Helvatica, sans-serif;
	color: red;
}
.FormSelect {
	width: 100%;
}

.ContentBoxBegin {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.ContentBoxBegin td {
	padding: 0px;
}

.ContentBoxBeginLeft {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.ContentBoxBeginRight {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.ContentBoxBeginTitle {
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}

.ContentBoxMain {
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

.ContentBoxEnd {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.ContentBoxEnd td {
	padding: 0px;
}

.ContentBoxEndLeft {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.ContentBoxEndRight {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}

.ContentBoxEndBorder {
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}


.HomeLeft
{
	float: left;
}
.HomeLeft div.ContentBoxMain
{
	min-height: 350px;
}
.HomeRight
{
	float: right;
}
.HomeRight div.ContentBoxMain
{
	min-height: 350px;
}
.LoginBox
{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	font: normal 0.8em Verdana, Helvetica, sans-serif;
}