/* Round Boxes */ /* Standard Box */
.boxRoundBegin {
	width: 100%;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.boxRoundBegin td {
	padding: 0px;
}

.boxRoundBeginLeft {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.boxRoundBeginRight {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.boxRoundBeginTitle {
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}

.boxRoundMain {
	width: 99.8%;
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0.2em;
}

.boxRoundEnd {
	width: 100%;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.boxRoundEnd td {
	padding: 0px;
}

.boxRoundEndLeft {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.boxRoundEndRight {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}

.boxRoundEndBorder {
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}

/* HomeEasyStart Box */
.homeEasyStartBox {
	float: left;
}

.homeEasyStartBoxBegin {
	width: 367px;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 1em;
	position: relative;
}

.homeEasyStartBoxBegin td {
	padding: 0px;
}

.homeEasyStartBoxBeginLeft {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.homeEasyStartBoxBeginRight {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.homeEasyStartBoxBeginTitle {
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}

.homeEasyStartBoxMain {
	width: 365px;
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
	min-height: 350px;
}

.homeEasyStartBoxEnd {
	width: 367px;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.homeEasyStartBoxEnd td {
	padding: 0px;
}

.homeEasyStartBoxEndLeft {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.homeEasyStartBoxEndRight {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}

.homeEasyStartBoxEndBorder {
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}

/* HomeMsgSearch Box */
.homeMsgSearchBox {
	float: right;
}

.homeMsgSearchBoxBegin {
	width: 367px;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 1em;
	position: relative;
}

.homeMsgSearchBoxBegin td {
	padding: 0px;
}

.homeMsgSearchBoxBeginLeft {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.homeMsgSearchBoxBeginRight {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.homeMsgSearchBoxBeginTitle {
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}

.homeMsgSearchBoxMain {
	width: 365px;
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
	min-height: 350px;
}

.homeMsgSearchBoxEnd {
	width: 367px;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.homeMsgSearchBoxEnd td {
	padding: 0px;
}

.homeMsgSearchBoxEndLeft {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.homeMsgSearchBoxEndRight {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}

.homeMsgSearchBoxEndBorder {
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}

/* HomeIcon Box */
.homeIconBox {
	float: left;
}

.homeIconBoxBegin {
	width: 38.15em;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 1em;
}

.homeIconBoxBegin td {
	padding: 0px;
}

.homeIconBoxBeginLeft {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.homeIconBoxBeginRight {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.homeIconBoxBeginTitle {
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}

.homeIconBoxMain {
	width: 38em;
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
}

.homeIconBoxEnd {
	width: 38.15em;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.homeIconBoxEnd td {
	padding: 0px;
}

.homeIconBoxEndLeft {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.homeIconBoxEndRight {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}

.homeIconBoxEndBorder {
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}

/* HomeMessage Box */
.homeMessageBox {
	float: right;
}

.homeMessageBoxBegin {
	width: 21.15em;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 1em;
	position: relative;
}

.homeMessageBoxBegin td {
	padding: 0px;
}

.homeMessageBoxBeginLeft {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.homeMessageBoxBeginRight {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.homeMessageBoxBeginTitle {
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}

.homeMessageBoxMain {
	width: 21em;
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
}

.homeMessageBoxEnd {
	width: 21.15em;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.homeMessageBoxEnd td {
	padding: 0px;
}

.homeMessageBoxEndLeft {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.homeMessageBoxEndRight {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}

.homeMessageBoxEndBorder {
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}

/* Project General */ /* Project General Box (w. write) */
.projectGeneral {
	float: left;
}

.projectGeneralBegin {
	width: 367px;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	position: relative;
}

.projectGeneralBegin td {
	padding: 0px;
}

.projectGeneralBeginLeft {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.projectGeneralBeginRight {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.projectGeneralBeginTitle {
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}

.projectGeneralMain {
	width: 365px;
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
	min-height: 32em;
}

.projectGeneralEnd {
	width: 367px;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.projectGeneralEnd td {
	padding: 0px;
}

.projectGeneralEndLeft {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.projectGeneralEndRight {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}

.projectGeneralEndBorder {
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}

/* Project Menu Box */
.projectMenu { /* margin-left: 31em; */
	float: right;
}

.projectMenuBegin {
	width: 367px;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	position: relative;
}

.projectMenuBegin td {
	padding: 0px;
}

.projectMenuBeginLeft {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.projectMenuBeginRight {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.projectMenuBeginTitle {
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}

.projectMenuMain {
	width: 365px;
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
	min-height: 32em;
}

.projectMenuEnd {
	width: 367px;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.projectMenuEnd td {
	padding: 0px;
}

.projectMenuEndLeft {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.projectMenuEndRight {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}

.projectMenuEndBorder {
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}

/* Login Round */ /* Standard Box */
.loginRoundBegin {
	width: 35.2em;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	font: normal 0.8em Verdana, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.loginRoundBegin td {
	padding: 0px;
}

.loginRoundBeginLeft {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.loginRoundBeginRight {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.loginRoundBeginTitle {
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}

.loginRoundMain {
	width: 35em;
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
	font: normal 0.8em Verdana, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.loginRoundEnd {
	width: 35.2em;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	font: normal 0.8em Verdana, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.loginRoundEnd td {
	padding: 0px;
}

.loginRoundEndLeft {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.loginRoundEndRight {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}

.loginRoundEndBorder {
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}

/* Sample */
.sampleGeneral {
	float: left;
}

.sampleGeneralBegin {
	width: 367px;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	position: relative;
}

.sampleGeneralBegin td {
	padding: 0px;
}

.sampleGeneralBeginLeft {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.sampleGeneralBeginRight {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.sampleGeneralBeginTitle {
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}

.sampleGeneralMain {
	width: 365px;
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
	min-height: 32em;
}

.sampleGeneralEnd {
	width: 367px;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.sampleGeneralEnd td {
	padding: 0px;
}

.sampleGeneralEndLeft {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.sampleGeneralEndRight {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}

.sampleGeneralEndBorder {
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}

/* Sample Menu Box */
.sampleMenu { /* margin-left: 31em; */
	float: right;
}

.sampleMenuBegin {
	width: 367px;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	position: relative;
}

.sampleMenuBegin td {
	padding: 0px;
}

.sampleMenuBeginLeft {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.sampleMenuBeginRight {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.sampleMenuBeginTitle {
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}

.sampleMenuMain {
	width: 365px;
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
	min-height: 32em;
}

.sampleMenuEnd {
	width: 367px;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.sampleMenuEnd td {
	padding: 0px;
}

.sampleMenuEndLeft {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.sampleMenuEndRight {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}

.sampleMenuEndBorder {
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}


/* Fatal Error */
.ErrorFatalBoxBegin {
	width: 35.2em;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	font: normal 0.8em Verdana, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.ErrorFatalBoxBegin td {
	padding: 0px;
}

.ErrorFatalBoxBeginLeft {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.ErrorFatalBoxBeginRight {
	width: 15px;
	min-height: 10px;
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.ErrorFatalBoxBeginTitle {
	background: #C0C0C0;
	text-align: center;
	color: white;
	font: bold 1em Verdana, Helvetica, sans-serif;
}

.ErrorFatalBoxMain {
	width: 35em;
	border-left: 1px #C0C0C0 solid;
	border-right: 1px #C0C0C0 solid;
	margin-bottom: 0;
	padding-bottom: 0;
	font: normal 0.8em Verdana, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.ErrorFatalBoxEnd {
	width: 35.2em;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
	font: normal 0.8em Verdana, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.ErrorFatalBoxEnd td {
	padding: 0px;
}

.ErrorFatalBoxEndLeft {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.ErrorFatalBoxEndRight {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	text-align: right;
}

.ErrorFatalBoxEndBorder {
	font: normal 1px sans-serif;
	vertical-align: bottom;
	border-bottom: 1px #C0C0C0 solid;
	height: 10px;
}