@CHARSET "ISO-8859-1";

/* DATA BROWSER */
.DataBrowserFileHover
{
background-color:#c3c3c3;
}

.DataBrowserFileSelected
{
background-color:#66ccff;
border: solid black 1px;
filter: alpha(opacity=80);
width:100%;
-moz-opacity:0.8; 
}

#DataBrowserFileDialog
{
background-color:#ffffff;
border:solid black 1px;
border-top:none;
}


/* DATA UPLOAD*/

#UploadUI
{
font-family:arial;
padding: 10px 10px 10px 10px;
}

#FileListContainer
{
margin-top: 10px;
text-align:left;
}

#FileList
{
list-style-type:none;
text-align:left;
padding: 0 0 0 0;
margin: 0 0 0 0;
}

#FileList li
{
padding: 1px 0 1px 0;
height:18px;
vertical-align: middle;
}

.FileListImage
{
height:16px;
width:16px;
margin-left:5px;
padding-bottom:2px;
vertical-align: middle;
}

.FileListProgressInfo
{
font-size:10px;
margin-left:5px;
vertical-align: middle;
}

.UploadProgressbar
{
margin: 10px 0 10px 0;	
}

#UploadInfo
{
margin-bottom:5px;	
}


/* DATA AUTOFIELD */

#af-description-tr
{
font-size:10px;	
}

.AutoFieldDuplicateNameError
{
border: solid red 1px;	
}

#AutofieldButtonContainer
{
margin-top:10px;
}

#DataAutofieldAddField
{
margin-left:10px;
}

#DataAutofieldClose
{
margin-left:10px;
}

#DataAutofieldAdmin
{
/* position:absolute; */
/* right:20px; */
}


/* FILE SEARCH MENU */

#FileSearchList a
{
text-decoration: none;
color: black;
}

#FileSearchList a:hover, 
#FileSearchList a:focus,
#FileSearchList a:visited,
#FileSearchList a:active
{
text-decoration: underline;
color: black;
outline: none;
}


#FileSearchList ul li div
{
padding-top: 6px;
padding-bottom: 4px;
position:relative;
border-bottom: dotted black 1px;
}

#FileSearchList ul li div table
{
width:100%;
}