#login_footer {
	position: absolute;
	height: 100px;
	width: 98%;
	bottom: 0;
	background-image: url(../images/login_logo.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

/* Login */
.login_container {
	font: normal 0.8em Verdana, Helvetica, sans-serif;
	border: 1px #D0D0D0 solid;
	width: 35em;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin-bottom: 0;
}

.login_title {
	background-color: #C0C0C0;
	text-align: center;
}

.login_main_container {
	margin-left: auto;
	margin-right: auto;
	width: 30em;
}

.login_image {
	float: left;
	width: 8em;
}

.login_field {
	width: 20em;
	margin-left: 8em;
}

.smallLoginText {
	font: normal 0.8em Verdana, Helvetica, sans-serif;
	color: #A0A0A0;
}

.smallLoginText a {
	color: #A0A0A0;
	text-decoration: none;
}

.smallLoginText a:hover,.smallLoginText a:focus,.smallLoginText a:active
	{
	color: red;
	text-decoration: underline;
}

.login {
	border: 1px #C0C0C0 solid;
	width: 170px;
}

.login:hover,.login:focus {
	border: 1px #336699 solid;
	width: 170px;
}

.login_button {
	border: 1px #C0C0C0 solid;
	width: 50px;
	color: black;
	background-color: white;
}

.login_button:hover,.login_button:focus {
	border: 1px #336699 solid;
}

.login_right_buttons {
	width: 99%;
	text-align: right;
}

.info_login_container {
	font: normal 0.6em Verdana, Helvetica, sans-serif;
	color: #C0C0C0;
	width: 60em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	clear: both;
}

.nologin_field {
	font: normal 0.8em Verdana, Helvetica, sans-serif;
	width: 26em;
	margin-left: 10em;
	text-align: justify;
}

.login_important {
	text-align: center;
	font: normal 0.8em Verdana, Helvetica, sans-serif;
}

.login_header {
	height: 130px;
	width: 968px;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/panorama.jpg);
	background-repeat: repeat-x;
	background-position: bottom left;
}

.login_header_1,.login_header_2,.login_header_3,.login_header_4,.login_header_5,.login_header_6,.login_header_7,.login_header_8,.login_header_9,.login_header_10
	{
	float: left;
	width: 26px;
	height: 26px;
	margin: 3px;
}

.login_header_1 {
	background-color: #669ACC;
}

.login_header_2 {
	background-color: #336699;
}

.login_header_3 {
	background-color: #113b63;
}

.login_header_4 {
	background-color: #ffc073;
}

.login_header_5 {
	background-color: #ff8c00;
}

.login_header_6 {
	background-color: #ffa940;
}

.login_header_7 {
	background-color: #bbe664;
}

.login_header_8 {
	background-color: #99cd32;
}

.login_header_9 {
	background-color: #5e8510;
}