#login_footer {
	position: absolute;
	height: 100px;
	width: 98%;
	bottom: 0;
	background-image: url(../images/login_logo.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

/* Login */
#LoginWrapper
{
	height: 315px;
	width: 968px;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/panorama.jpg);
	background-repeat: repeat-x;
	background-position: bottom left;
}	
#LoginContainer
{
	font: normal 12px Verdana, Helvetica, sans-serif;
	color: white;
	text-shadow: 1px 1px black;
	border-left: 1px #D0D0D0 solid;
	border-right: 1px #D0D0D0 solid;
	width: 300px;
	height: 255px;
	margin-left: 323px;;
	padding: 60px 10px 0 10px;
	
	/* background-color: white; */
	/*background-image: url(../images/transparent.png);
	background-repeat: repeat;
	background-position: bottom left;*/
}
#LoginTitle 
{
	text-align: center;
}
#LoginTable
{
	width: 300px;
}
#LoginTable tr td:first-child
{
	width: 90px;
}
#LoginFooter
{
	font: normal 9px Verdana, Helvetica, sans-serif;
	text-align: center;
}
.LoginTextfield
{
	width: 190px;
	border: 1px black solid;
	-moz-box-shadow: 2px 2px 2px #101010;
  	-webkit-box-shadow: 2px 2px 2px #101010;
 	box-shadow: 2px 2px 2px #101010;
}
.LoginLanguageSelect
{
	width: 199px;
}