html,body {
	margin: 0;
	padding: 0;
	background-color: #f3f3f3;
	height: 100%;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.crossed {
	text-decoration: line-through;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

#main {
	position: relative;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f3f3f3;
	background-image: url("../images/shades/shade.png");
	background-position: center top;
	background-repeat: repeat-y;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#main_clear {
	clear: both;
}

#main_footer {
	background-color: white;
	position: absolute;
	bottom: 0;
	width: 980px;
	display: none;
}

#container {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 968px;
}

/* Top */
#top {
	background-color: white;
	margin: 0;
	padding-top: 0.4em;
}

#headtitle {
	padding: 0.2em 0 0.5em 1em;
	float: left;
}

.horizontal_line {
	margin: 0;
	padding: 0;
	height: 1px;
	border-bottom: 1px #C0C0C0 dotted;
	font-size: 10px;
	clear: both;
}

#version_information {
	float: right;
	font: normal 0.6em Verdana, Helvetica, sans-serif;
	margin-right: 10px;
	text-align: right;
}

#help_info_top {
	float: right;
	margin-right: 0.5em;
}

ul#menu {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	font: normal 1em Verdana, Helvetica, sans-serif;
}

ul#menu a {
	color: black;
}

ul#menu a:hover,ul#menu a:focus,ul#menu a:active {
	color: red;
}

#content {
	font: normal 0.8em Arial, Helvetica, sans-serif;
	width: 750px;
	margin-right: 15px;
	margin-bottom: 2em;
	margin-top: 0.3em;
	float: right;
}

#content a {
	color: #33577d;
}

#content a:hover,#content a:focus,#content a:active {
	color: red;
}

.title {
	font-weight: bold;
	text-align: center;
}

.box {
	border: 1px #D0D0D0 solid;
	width: 61em;
}

.boxIcon {
	display: inline;
	margin-right: 1em;
}

.boxIconBar {
	padding-bottom:5px;
	border-bottom: 1px #C0C0C0 solid;
	margin: 3px;
}

.boxIconBarRight {
	border-bottom: 1px #C0C0C0 solid;
	margin: 0.2em;
	padding-right: 0.2em;
	text-align: right;
}

.boxIconLeft {
	float: left;
}

.boxIconRight {
	text-align: right;
	margin-bottom: 0.2em;
}

.boxIconElement {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px #C0C0C0 dotted;
}

.boxIconClear {
	clear: left;
}

.OverviewTable {
	width: 100%;
	border-collapse: collapse;
}

.OverviewTable th {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px #C0C0C0 dotted;
	color: black;
}

.OverviewTable th a {
	text-decoration: none;
	color: black !important;
}

.OverviewTable td {
	padding: 4px 2px;
}

.OverviewTable tr {
	vertical-align: top;
}


.OverviewTableLeft {
	float: left;
}

.OverviewTableRight {
	float: right;
}

.rightText {
	text-align: right;
	margin-right: 0.5em;
}



.red {
	color: red;
}

.trGrey {
	background-color: #D0D0D0;
}

.trLightGrey {
	background-color: #E0E0E0;
}

.formTable {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.formTable tr {
	vertical-align: top;
}

.formError {
	font: normal 0.8em Verdana, Helvatica, sans-serif;
	color: red;
}

.clearbox {
	clear: both;
}

#text {
	margin-left: 1em;
	margin-right: 1em;
	text-align: justify;
}

/* Projects */
.Project {
	width: 100%;
}

.ProjectOptionsFontDeactivated {
	color: #C0C0C0;
}

.FontDeactivated {
	color: #C0C0C0;
}

.ProjectGeneralTable tr {
	vertical-align: top;
}

.ProjectCreateIWantTo {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.ProjectCreateIWantTo tr {
	vertical-align: top;
}

.ProjectCreateIWantTo td {
	padding-bottom: 1.5em;
}

/* Forms */

.button_left {
	float: left;
}

.button_right {
	text-align: right;
	float: right;
}

.next_button,.previous_button,.previous_button_disabled {
	background-color: white;
	border: 1px #C0C0C0 solid;
	width: 70px;
}

.next_button:hover,.previous_button:hover {
	background-color: #E0E0E0;
}

/* Home */
.homeSumLeft {
	float: left;
	width: 48%;
}

.homeSumRight {
	margin-left: 50%;
	width: 48%;
}

.homeSumClear {
	clear: left;
}

.homeMain {
	width: 100%;
}

.homeMsgSearchContainer {
	width: 100%;
	margin: 3px;
}

.homeSearchTable {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.homeWelcome {
	float: left;
}

.homeDate {
	float: right;
}

.HomeOptionsTableHr {
	border-bottom: 1px #C0C0C0 solid;
	width: 98%;
}

.homeBoxIconTitle {
	text-decoration: underline;
	font: normal 0.9em Verdana, Helvetica, sans-serif;
	margin-left: 0.5em;
}

.homeBoxIconItalic {
	font: normal 0.9em Verdana, Helvetica, sans-serif;
	margin-left: 0.5em;
	font-style: italic;
}

/* Text */
.smallText {
	font: normal 0.8em Verdana, Helvetica, sans-serif;
	color: #A0A0A0;
}

.smallText a {
	color: #A0A0A0;
	text-decoration: underline;
}

.smallText a {
	color: #A0A0A0;
	text-decoration: underline;
}

.smallText a:hover,.smallText a:focus,.smallText a:active {
	color: red;
	text-decoration: underline;
}

.smallTextBlack {
	font: normal 0.8em Verdana, Helvetica, sans-serif;
	color: black;
}

.horzontalLineGrey {
	border-bottom: 1px #C0C0C0 solid;
}


/* Files */
.filebox {
	width: 60em;
	display: table;
}

.filebox_left {
	float: left;
	width: 29em;
}

.filebox_right {
	text-align: center;
	width: 29em;
	margin-left: 30em;
}

#file_chmod_container {
	width: 100%;
	background-image: url(../images/backgrounds/permissions.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

#file_chmod_box {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.file_chmod_table {
	width: 100%;
}

.file_chmod_table th {
	text-align: left;
}

.file_chmod_select {
	width: 35em;
}

.file_upload_container {
	width: 100%;
	background-image: url(../images/backgrounds/wizard.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.file_info_table tr {
	vertical-align: top;
}

#file_update_container {
	min-height: 15em;
	width: 100%;
	background-image: url(../images/backgrounds/upload.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.file_update_table {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}


/* Profile */
.profileQuickLinks {
	width: 65em;
	text-align: justify;
	font: normal 0.85em Verdana, Helvetica, sans-serif;
}

.profileQuickLinks  a {
	text-decoration: none;
	font-weight: bold;
}

.profileQuickLinks tr {
	vertical-align: top;
}

.profileQuickLinks td {
	padding-bottom: 1em;
}

.profileText {
	width: 14em;
}

.profileIcon {
	width: 4em;
	padding-right: 0.5em;
	padding-left: 1em;
	text-align: right;
}

.profileHeadline {
	margin-top: 1em;
	font-weight: bold;
	border-bottom: 1px #C0C0C0 solid;
}

/* Admin */ /* Project Forms */
.adminOrganUnitSolid {
	border-bottom: 1px #C0C0C0 solid;
	font-size: 2px;
}

.adminOrganUnitDotted {
	border-bottom: 1px #C0C0C0 dotted;
	font-size: 2px;
}



.ResultNextPageBar {
	text-align: right;
	margin-right: 1em;
}

.imagebrowser {
	text-align: center;
}

.imagebrowserhead {
	text-align: left;
	width: 100%;
}

.imagebrowserfoot {
	text-align: left;
	width: 100%;
}



/* ------------------ */ /* Neu */ /* ------------------ */

.Assistant
{
	width: 730px;
	padding: 5px 10px 5px 10px;
}
.AssistantElement a
{
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
}
.AssistantElementImage
{
	display: block;
	padding: 2px;
}
.AssistantElementText
{
	display: block;
	font: bold 10px Verdana, Tahoma, Helvetica, sans-serif;
	color: #505050;
}
.AssistantClear
{
	clear: left;
	width: 750px;
	border-bottom: 1px #D0D0D0 dotted;
	height: 4px;
}
.AssistantButton,
.AssistantButtonDisabled
{
	background-color: white;
	border: 1px #C0C0C0 solid;
	width: 70px;
}
.AssistantButton:hover
{
	background-color: #E0E0E0;
}
#AssistantLoading
{
	text-align: center;	
}




.HomeTodayArea
{
	width: 98%;
	padding: 0 3px;
	border-bottom: 1px #D0D0D0 dotted;
}
.HomeTodayHeadline
{
	margin: 3px 0;
	font-size: 10px;
}
.HomeTodayEntry
{
	
}
.HomeTodayOverdueEntry
{
	color: red;
}

.FileDetailMenu
{
	
}
.FileDetailLeft
{
	float: left;
	width: 50%;
}
.FileDetailRight
{
	
}
.FileDetailClear
{
	clear: both;
}
.FileDetailAdminMenuHead
{
	font-weight: bold;
}
ul.FileDetailAdminMenu
{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.FileDetailAdminMenu li
{
	display: block;
	margin: 0;
	padding: 0;
}
ul.FileDetailAdminMenu li a
{
	display: block;
	text-decoration: none;
}
.FileDetailAdminMenuIcon
{
	
}
.FileDetailAdminMenuTitle
{
	
}
.FileDetailDownload
{
	
}
.FileDetailDownloadImage
{
	float: left;
	width: 55px;
}
.FileDetailDownloadText
{
	padding: 15px;
}
.FileDetailDownloadText a
{
	text-decoration: none;
}
.FileDetailDownloadText a:hover,.FileDetailDownloadText a:focus,.FileDetailDownloadText a:active
{
	text-decoration: underline;
}

.ImageBrowserMultiTable
{
	border-collapse: collapse;
	border-spacing: 0;
}
.ImageBrowserMultiTable td
{
	border-bottom: 1px #D0D0D0 solid;
	width: 180px;
}
.ImageBrowserMultiImage
{
	width: 170px;
	height: 170px;
	padding: 5px;
	text-align: center;
}
.ImageBrowserMultiInfo
{
	font-size: 10px;
}

.Error
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
.ErrorLeft
{
	float: left;
	width: 80px;
}
.ErrorRight
{
	
}
.ErrorCode
{
	margin-bottom: 10px;
}
.ErrorMessage
{
	
}
.ErrorClear
{
	clear: left;
}

.AdminUserDetailTable
{
	width: 100%;
}
.AdminUserDetailTable tr
{
	vertical-align: top;
}
.AdminUserDetailTable td
{
	padding-top: 4px;
}
.AdminHomeBox
{
	width: 100%;
	border-bottom: 1px #D0D0D0 solid;
}

.FormSelect
{
	width: 100%;
}

#ErrorFatalFooter
{
	position: absolute;
	height: 100px;
	width: 98%;
	bottom: 0;
	background-image: url(../images/login_logo.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}
#ErrorFatalTitle
{
	font-weight: bold;
	text-align: center;
	padding: 10px;
}
#ErrorFatalLeft
{
	float: left;
	width: 55px;
	margin: 10px 20px;
}
#ErrorFatalRight
{
	margin: 10px;
	text-align: left;
}
#ErrorFatalClear
{
	clear: both;
}
