.NavigationMainNavigation {
	font: normal 0.8em Verdana, Helvetica, sans-serif;
}

.NavigationMainNavigationLeft {
	margin-left: 20px; 
}

.NavigationMainNavigationRight {
	float: right;
	padding: 3px 10px 0 0;
}

ul.NavigationMainNavigationList {
	list-style: none;
	padding: 0;
	margin: 0;
/* 	margin-left: 20px; 				 */
}

ul.NavigationMainNavigationList li {
	width: 100px;
	float: left;
}

ul.NavigationMainNavigationList a {
	display: block;
	float: left;
	width: 100px;
	text-align: center;
	color: #606060;
	text-decoration: none;
	font: normal 14px Verdana, Tahoma, Helvetica, sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;
}

ul.NavigationMainNavigationList a:hover {
	color: #F0F0F0;
}

ul.NavigationMainNavigationList li.active a {
	color: #F0F0F0;
}

.NavigationMainNavigationTabBlue,
.NavigationMainNavigationTabOrange,
.NavigationMainNavigationTabGreen,
.NavigationMainNavigationTabLightgreen,
.NavigationMainNavigationTabLightblue,
.NavigationMainNavigationTabGrey
	{
	background-image: url(../images/tabs/tab_empty.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.NavigationMainNavigationTabGreyActive,
.NavigationMainNavigationTabGrey:hover
	{
	background-image: url(../images/tabs/tab_grey.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.NavigationMainNavigationTabBlueActive,
.NavigationMainNavigationTabBlue:hover
	{
	background-image: url(../images/tabs/tab_blue.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.NavigationMainNavigationTabGreenActive,
.NavigationMainNavigationTabGreen:hover
	{
	background-image: url(../images/tabs/tab_green.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.NavigationMainNavigationTabOrangeActive,
.NavigationMainNavigationTabOrange:hover
	{
	background-image: url(../images/tabs/tab_orange.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.NavigationMainNavigationTabLightgreenActive,
.NavigationMainNavigationTabLightgreen:hover
	{
	background-image: url(../images/tabs/tab_lightgreen.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.NavigationMainNavigationTabLightblueActive,
.NavigationMainNavigationTabLightblue:hover
	{
	background-image: url(../images/tabs/tab_lightblue.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.NavigationSubNavigation {
	clear: both;
	height: 30px;
	width: 100%;
	color: #EFEFEF;
	font: normal 0.8em Verdana, Helvetica, sans-serif;
}

.NavigationSubNavigation a {
	color: #EFEFEF;
}

.NavigationSubNavigationLeft {
	float: left;
	padding: 7px 0 0 20px;
}

.NavigationSubNavigationRight {
	float: right;
	padding: 5px 10px 0 0;
}

.NavigationSubNavigationBlue,
.NavigationSubNavigationGreen,
.NavigationSubNavigationOrange,
.NavigationSubNavigationLightblue,
.NavigationSubNavigationLightgreen,
.NavigationSubNavigationGrey
{
	height: 100%;
	width: 100%;
}

.NavigationSubNavigationGrey {
	background-color: #c0c0c0;
}

.NavigationSubNavigationBlue {
	background-color: #336699;
}

.NavigationSubNavigationGreen {
	background-color: #99cd32;
}

.NavigationSubNavigationOrange {
	background-color: #dcaf36;
}

.NavigationSubNavigationLightgreen {
	background-color: #bbe664;
}

.NavigationSubNavigationLightblue {
	background-color: #669acc;
}

ul.NavigationSubNavigationList {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.NavigationSubNavigationList li {
	display: inline;
	padding-right: 0.5em;
}

ul.NavigationSubNavigationList a,.NavigationSubNavigationRight a {
	text-decoration: none;
}

ul.NavigationSubNavigationList a:hover,ul.NavigationSubNavigationList a:focus,ul.NavigationSubNavigationList a:active,.NavigationSubNavigationRight a:hover,.NavigationSubNavigationRight a:focus,.NavigationSubNavigationRight a:active
	{
	text-decoration: underline;
}

.NavigationSubNavigationSearchField {
	border: 1px #D0D0D0 solid;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	height: 18px;
}

.NavigationSubNavigationSearchButton {
	border-right: 1px #D0D0D0 solid;
	border-top: 1px #D0D0D0 solid;
	border-bottom: 1px #D0D0D0 solid;
	margin: 0;
	padding: 0;
	background: white;
	display: block;
	height: 20px;
	float: left;
}



/* Vertical Navigation / Menu */
#navigation {
	font: normal 0.6em Verdana, Helvetica, sans-serif;
	float: left;
	width: 190px;
	height: 90%;
	margin-left: 0.6em;
	margin-top: 0.6em;
}

#navigation a {
	color: black;
	text-decoration: none;
}

#navigation a:hover,#nagivation a:focus,#navigation a:active {
	text-decoration: underline;
}

#navigation_header {
	padding: 10px 0 0 0;
}

#navigation_switcher {
	padding: 0;
	margin: 0;
	width: 100%;
}

#navigation_switcher li {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
}

#navigation_switcher li.active {
	background-image: url(../images/tabs/left_nav_tab.png);
	background-repeat: no-repeat;
	background-position: top center;
}

#navigation_switcher li a {
	display: block;
	padding: 4px;
}

#navigation_switcher li a:hover,#navigation_switcher li a:focus,#navigation_switcher li a:active
	{
	background-image: url(../images/tabs/left_nav_tab.png);
	background-repeat: no-repeat;
	background-position: top center;
}

#navigation_switcher li div {
	display: block;
	padding: 4px;
}

#navigation_current_info {
	padding: 6px 4px 4px 4px;
	font-weight: bold;
}

#navigation_header_clear {
	border-top: 1px #D0D0D0 dotted;
	clear: left;
	width: 100%;
}

.LeftNavigation div.tree_menu_element {
	
}

.LeftNavigation div.tree_menu_element:hover,.LeftNavigation div.tree_menu_element:active,.LeftNavigation div.tree_menu_element:focus
	{
	
}

ul.AdministrationNavigation {
	list-style: none;
	margin: 5px 5px;
	padding: 0;
}

ul.AdministrationNavigation li {
	margin: 5px 0;
	padding: 0;
}

.AdminstrationNavigationTitle {
	margin-top: 10px;
	margin-bottom: 3px;
	font-weight: bold;
}