/* Vertical Navigation / Menu */
#navigation {
	font: normal 0.6em Verdana, Helvetica, sans-serif;
	float: left;
	width: 190px;
	height: 90%;
	margin-left: 0.6em;
	margin-top: 0.6em;
}

#navigation a {
	color: black;
	text-decoration: none;
}

#navigation a:hover,#nagivation a:focus,#navigation a:active {
	text-decoration: underline;
}

#navigation_header {
	padding: 10px 0 0 0;
}

#navigation_switcher {
	padding: 0;
	margin: 0;
	width: 100%;
}

#navigation_switcher li {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
}

#navigation_switcher li.active {
	background-image: url(../images/tabs/left_nav_tab.png);
	background-repeat: no-repeat;
	background-position: top center;
}

#navigation_switcher li a {
	display: block;
	padding: 4px;
}

#navigation_switcher li a:hover,#navigation_switcher li a:focus,#navigation_switcher li a:active
	{
	background-image: url(../images/tabs/left_nav_tab.png);
	background-repeat: no-repeat;
	background-position: top center;
}

#navigation_switcher li div {
	display: block;
	padding: 4px;
}

#navigation_current_info {
	padding: 6px 4px 4px 4px;
	font-weight: bold;
}

#navigation_header_clear {
	border-top: 1px #D0D0D0 dotted;
	clear: left;
	width: 100%;
}

.LeftNavigation div.tree_menu_element {
	
}

.LeftNavigation div.tree_menu_element:hover,.LeftNavigation div.tree_menu_element:active,.LeftNavigation div.tree_menu_element:focus
	{
	
}

ul.AdministrationNavigation {
	list-style: none;
	margin: 5px 5px;
	padding: 0;
}

ul.AdministrationNavigation li {
	margin: 5px 0;
	padding: 0;
}

.AdminstrationNavigationTitle {
	margin-top: 10px;
	margin-bottom: 3px;
	font-weight: bold;
}