
/* Project Detail */
#ProjectDetailLeft
{
	float: left;
	width: 375px;	
}
#ProjectDetailRight
{
	border-left: 1px #C0C0C0 dotted;
	float: right;
	width: 370px;	
}
#ProjectDetailClear
{
	clear: both;
}


.ProjectDetailStatusSpacer
{
	width: 20px;	
	float: left;
}
.ProjectDetailStatusElement
{
	width: 90px;
	margin: 10px 0;
	padding: 4px;
	border: 1px #C0C0C0 solid;
	float: left;
}
.ProjectDetailStatusEmpty
{
	width: 92px;
	margin: 10px 0;
	padding: 4px;
	float: left;
}
.ProjectDetailStatusOr
{
	background-image: url(../images/workflow/or.png);
	background-repeat: no-repeat;
	background-position: top center;
	width: 100px;
	height: 40px;
	margin: 10px auto;
	padding: 12px 0 0 0;
	text-align: center;
	float: left;
}
.ProjectDetailStatusElementClear
{
	clear:left;	
}	
#ProjectDetailStatus .Current
{
	border: 1px #99cd32 solid;
}


.ProjectDetailStatusTable
{
	width: 100%;
	border-spacing: 0;
}
.ProjectDetailStatusTable td
{
	padding-left: 5px;
	padding-right: 5px;
	line-height: 22px;
}



/* Project Proceed */
.ProdectDetailProceedTable
{
	width: 100%;	
}
.ProdectDetailProceedTable th
{
	text-align: left;
	font-weight: bold;
	padding: 5px;
	border-bottom: 1px #B0B0B0 dotted;
}
.ProdectDetailProceedTable td
{
	padding: 5px;
}
#ProjectDetailProceedComment
{
	border-top: 1px #C0C0C0 dotted;
	padding: 5px;
	font-size: 10px;
}

/* Project Admin */

#ProjectAdminMenu {
	min-height: 280px;
	width: 100%;
	background-image: url(../images/backgrounds/settings.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

#ProjectAdminMenuTable {
	margin-top: 1em;
	width: 40em;
	margin-left: auto;
	margin-right: auto;
}


/* Project Log */

.ProjectLogEntry
{
	margin: 3px;
	border-bottom: 1px #C0C0C0 dotted;
	padding-bottom: 5px;
}
.ProjectLogEntryHeaderLeft
{
	float: left;
}
.ProjectLogEntryHeaderRight
{
	float: right;
}
.ProjectLogEntryHeaderClear
{
	height: 1px;
	margin-bottom: 6px;
	clear:both;
}
.ProjectLogEntryHeader span
{
	border-bottom: 1px #C0C0C0 dotted;
}
.ProjectLogEntryHeaderDatetime
{
	font-size: 14px;
	font-weight: bold;
}
.ProjectLogEntryContent
{
	text-align: justify;
}
.ProjectLogEntryFooter
{
	margin-top: 7px;
}


/* Project Task */

.ProjectTaskDetailTable
{
	margin: 0 10px;
}
.ProjectTaskGanttTable
{
	border-collapse: collapse;
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
}
.ProjectTaskGanttTable tr
{
	margin: 0;
	padding: 0;
}
.ProjectTaskGanttTable th
{
	margin: 0;
	padding: 0;
	font-size: 10px;
	background-color: #E0E0E0;
	border-left: 1px white dotted;
}
.ProjectTaskGanttTable td
{
	margin: 0;
	padding: 2px 0;
}
.ProjectTaskGanttBlockEnd
{
	border-bottom: 1px #E0E0E0 dotted;
}