/* Project Detail */
#ProjectDetailLeft
{
	float: left;
	width: 390px;	
}
#ProjectDetailRight
{
	border-left: 1px #C0C0C0 dotted;
	float: right;
	width: 355px;	
}
#ProjectDetailClear
{
	clear: both;
}

#ProjectDetailStatusWorkflow
{
	margin-bottom: 10px;
}


/* Project Proceed */
.ProdectDetailProceedTable
{
	width: 100%;	
}
.ProdectDetailProceedTable th
{
	text-align: left;
	font-weight: bold;
	padding: 5px;
	border-bottom: 1px #B0B0B0 dotted;
}
.ProdectDetailProceedTable td
{
	padding: 5px;
}
#ProjectDetailProceedComment
{
	border-top: 1px #C0C0C0 dotted;
	padding: 5px;
	font-size: 10px;
}

/* Project Admin */

#ProjectAdminMenu {
	min-height: 280px;
	width: 100%;
	background-image: url(../images/backgrounds/settings.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

#ProjectAdminMenuTable {
	margin-top: 1em;
	width: 40em;
	margin-left: auto;
	margin-right: auto;
}


/* Project Log */

.ProjectLogEntry
{
	margin: 3px;
	border-bottom: 1px #C0C0C0 dotted;
	padding-bottom: 5px;
}
.ProjectLogEntryHeaderLeft
{
	float: left;
}
.ProjectLogEntryHeaderRight
{
	float: right;
}
.ProjectLogEntryHeaderClear
{
	height: 1px;
	margin-bottom: 6px;
	clear:both;
}
.ProjectLogEntryHeader span
{
	border-bottom: 1px #C0C0C0 dotted;
}
.ProjectLogEntryHeaderDatetime
{
	font-size: 14px;
	font-weight: bold;
}
.ProjectLogEntryContent
{
	text-align: justify;
}
.ProjectLogEntryFooter
{
	margin-top: 7px;
}


/* Project Task */

.ProjectTaskDetailTable
{
	margin: 0 10px;
}
.ProjectTaskGanttTable
{
	border-collapse: collapse;
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
}
.ProjectTaskGanttTable tr
{
	margin: 0;
	padding: 0;
}
.ProjectTaskGanttTable th
{
	margin: 0;
	padding: 0;
	font-size: 10px;
	background-color: #E0E0E0;
	border-left: 1px white dotted;
}
.ProjectTaskGanttTable td
{
	margin: 0;
	padding: 2px 0;
}
.ProjectTaskGanttBlockEnd
{
	border-bottom: 1px #E0E0E0 dotted;
}