
/* Project Detail */

.ProjectDetailGeneral
{
	float: left;
}
.ProjectDetailGeneral div.ContentBoxMain
{
	min-height: 400px;
}
.ProjectDetailMenu
{
	float: right;
}
.ProjectDetailMenu div.ContentBoxMain
{
	min-height: 400px;
}
.ProjectDetailStatusTable
{
	width: 100%;
	border-spacing: 0;
}
.ProjectDetailStatusTable td
{
	padding-left: 5px;
	padding-right: 5px;
	line-height: 22px;
}

/* Project Proceed */
.ProdectDetailProceedTable
{
	width: 100%;	
}
.ProdectDetailProceedTable th
{
	text-align: left;
	font-weight: bold;
	padding: 5px;
	border-bottom: 1px #B0B0B0 dotted;
}
.ProdectDetailProceedTable td
{
	padding: 5px;
}


/* Project Task */

.ProjectTaskDetailTable
{
	margin: 0 10px;
}
.ProjectTaskGanttTable
{
	border-collapse: collapse;
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
}
.ProjectTaskGanttTable tr
{
	margin: 0;
	padding: 0;
}
.ProjectTaskGanttTable th
{
	margin: 0;
	padding: 0;
	font-size: 10px;
	background-color: #E0E0E0;
	border-left: 1px white dotted;
}
.ProjectTaskGanttTable td
{
	margin: 0;
	padding: 2px 0;
}
.ProjectTaskGanttBlockEnd
{
	border-bottom: 1px #E0E0E0 dotted;
}