
/* Sample Detail */
.SampleDetailGeneral
{
	float: left;
}
.SampleDetailGeneral div.ContentBoxMain
{
	min-height: 400px;
}
.SampleDetailMenu
{
	float: right;
}
.SampleDetailMenu div.ContentBoxMain
{
	min-height: 400px;
}
#SampleDetailGeneralInformationTable
{
	
}

/* Add As Item */
#SampleAddAsItemContainer
{
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
#SampleAddAsItemContainerImage
{
	float: left;
	padding: 10px;
}
#SampleAddAsItemContainerMenu
{
	float: right;
}

#SampleAddAsItemContainerButtonArea
{
	padding-top: 80px;
	text-align: right;
	font: normal 0.8em Verdana, Helvetica, sans-serif;
}

/* Sample Add Fields */
.SamplePageSelect
{
	width: 272px;
}
.SamplePageTextfield
{
	width: 270px;
}


/* Sample Barcode */
.SampleBarcode
{
	width: 95%;
	padding: 10px;
}
.SampleBarcodeTitle
{
	float: left;
	font-weight: bold;
}
.SampleBarcodePrint
{
	float: right;
}
.SampleBarcodeImage 
{
	clear: both;
}