
/* Sample Detail */

.SampleDetailGeneral
{
	float: left;
}
.SampleDetailGeneral div.ContentBoxMain
{
	min-height: 400px;
}
.SampleDetailMenu
{
	float: right;
}
.SampleDetailMenu div.ContentBoxMain
{
	min-height: 400px;
}


/* Sample Barcode */

.SampleBarcode {
	width: 95%;
	padding: 10px;
}

.SampleBarcodeTitle {
	float: left;
	font-weight: bold;
}

.SampleBarcodePrint {
	float: right;
}

.SampleBarcodeImage {
	clear: both;
}


/* Sample Structure */

.SampleStructureArea {
	border-bottom: 1px #D0D0D0 dotted;
	padding: 5px;
}

.SampleStructureTitle {
	font-weight: bold;
}

.SampleStructureElement {
	padding: 3px 0 3px 0;
}