.SearchMain
{
	margin-left: auto;
	margin-right: auto;
	width: 705px;
}
.SearchMainLeft
{
	float: left;
	width: 350px;
}
.SearchMainClear
{
	clear: both;
}
.SearchMainButton
{
	display: block;
	height: 60px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.SearchMainButton
{
	border: 0;
	text-decoration: none;
}
.SearchMainButton:hover
{
	background: #99b2cc;
	text-decoration: none;
	color: black;
}
a.SearchMainButton:hover span span
{
	color: black;
}
.SearchMainButtonImage
{
	display: block;
	float: left;
	margin: 4px;
}
.SearchMainButtonText
{
	display: block;
	padding: 4px;
}
.SearchMainButtonTitle
{
	display: block;
	font-weight: bold;
}
.SearchMainButtonDesc
{
	display: block;
	font-size: 11px;
}
.SearchContainer {
	min-height: 23em;
	width: 100%;
	background-image: url(../images/backgrounds/search.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	overflow: hidden;
}
.SearchTable {
	width: 25em;
	margin-left: auto;
	margin-right: auto;
}
.SearchTable tr {
	vertical-align: top;
}
.SearchCommonSelect
{
	width: 300px;
}
