<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<meta name='robots' content='noindex, nofollow' />

<link rel="stylesheet" type="text/css" href="css/main.css" title="Style" />

{INDEX_CSS}

<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/ie7debug.css" title="Style" />
<![endif]-->


<script type="text/javascript" src="js/phpjs/phpjs.js"></script>
<script type="text/javascript" src="js/yajsl_php.js"></script>
<script type="text/javascript" src="js/yajsl.js"></script>
<script type="text/javascript" src="js/ol_core.js"></script>

<link rel="stylesheet" type="text/css" href="js/jquery/themes/redmond/jquery-ui.css" title="Style" />

<script type="text/javascript" src="js/jquery/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="js/jquery/jquery-ui-1.8.11.custom.min.js"></script>

<link href="images/open-lims.ico" rel="shortcut icon" />

<title>{INDEX_TITLE}</title>
</head>
<body>
<div id="main">
<div id="container">
