<script>
$(document).ready(function()
\{
	var get_array = getQueryParams(document.location.search);
	
	function load_content(sortvalue, sortmethod, page)
	\{
		$.ajax(
		\{
			type: "GET",
			url: "core/modules/organisation_unit/organisation_unit.ajax.php",
			data: "session_id="+get_array['session_id']+"&run=list_groups&organisation_unit_id={ORGANISATION_UNIT_ID}&sortvalue="+sortvalue+"&sortmethod="+sortmethod+"&page="+page,
			success: function(data)
			\{
				$("#OrganisationUnitAjaxContent").contents().detach();
				$("#OrganisationUnitAjaxContent").append(data);
			\}
		\});
	\}
	
	var sortvalue = "";
	var sortmethod = "";
	var page = 0;
	
	load_content(sortvalue, sortmethod, page);
	
	var name_sortmethod = "asc";
	
	$("#OrganisationUnitListSortGroupname").live('click', function()\{
		
		sortvalue = "groupname";
		
		load_content(sortvalue, name_sortmethod, page);
		
		if (name_sortmethod == "asc")
		\{
			name_sortmethod = "desc";
			sortmethod = "asc";
		\}
		else
		\{
			name_sortmethod = "asc";
			sortmethod = "desc";
		\}

	\});

	$(".OrganisationUnitListPage").each().live('click', function()
	\{
		var id = $(this).attr("id");
		page = id.replace("OrganisationUnitListPage","");
		load_content(sortvalue, sortmethod, page);
	\});
		
\});
</script>

<br />

<!-- CONTAINER BEGIN ("Groups {TITLE}",0) -->

<div id='OrganisationUnitAjaxContent'>


</div>

<!-- CONTAINER END (0) -->